.f37cb1984c371ee5-name,
._29444ba32c7fbeab-name,
._9293f6b2fc12398a-title,
._99e7cad8d4c55236-headerText,
._37e49614b9f110a9-nameTag>div:first-child>div,
.b1f768426adf64d9-guildNameText,
._5e434347c823b592-sidebar ._99f8cc7ad4790ce9-content>div[style^="height"]:not([aria-hidden]):after,
._9293f6b2fc12398a-iconWrapper._9293f6b2fc12398a-clickable ._9293f6b2fc12398a-icon,
.visual-refresh .c322aadb96ff59c9-searchBar .c322aadb96ff59c9-icon:not(.clear_fea832):after,
._421edea01cb52e16-winButton,
._1fed1dd06c7aabf7-fieldTitle,
._421edea01cb52e16-wordmark:before,
._1fed1dd06c7aabf7-userTag,
.aa8da23faa27393c-headerText,
.bd-sidebar-header h2,
.b717a15017b82443-title,
.ace4f5a2d9b7fc28-title,
.b717a15017b82443-h5,
.nickname_c9ccf6,
.title_c4a579,
.userInfoSectionHeader-2mYYun,
.userProfileInner_c69a7b .text-lg-semibold__84aef.defaultColor__77578,
#app-mount ._908e20001ad67812-isUnread ._908e20001ad67812-content,
#app-mount ._908e20001ad67812-divider span,
.c36707910f687430-tooltipContent,
._00de6f6c14b53606-container>._00de6f6c14b53606-header._7e6bb757ba16c548-header,
._00de6f6c14b53606-container>._00de6f6c14b53606-description:after,
.aae01227de06a74c-container>.aae01227de06a74c-inner>div:after,
.archivedDivider-2dQ9JY,
.headerText-3MQ6n4>h3>span,
._421edea01cb52e16-wordmark:before {
    color: var(--Primary);
}

._00de6f6c14b53606-container>._00de6f6c14b53606-header._7e6bb757ba16c548-header,
._00de6f6c14b53606-container>._00de6f6c14b53606-description:after,
.aae01227de06a74c-container>.aae01227de06a74c-inner>div:after {
    font-weight: 600;
}