.name_fd6364,
.name_a08117,
.title_e44302,
.headerText_c47fa9,
.nameTag_b2ca13>div:first-child>div,
.guildNameText_a6ae3c,
.sidebar_c48ade .content_eed6a8>div[style^="height"]:not([aria-hidden]):after,
.iconWrapper_e44302.clickable_e44302 .icon_e44302,
.searchBar_a46bef .icon_a46bef:not(.clear_effbe2):after,
.winButton__421ed,
.fieldTitle_b69b77,
.wordmark__421ed:before,
.userTag_b69b77,
.headerText_a0,
.bd-sidebar-header h2,
.title_c46f6a,
.title_b3a5c2,
.h5_c46f6a,
.nickname_c9ccf6,
.title_c4a579,
.userInfoSectionHeader-2mYYun,
.userProfileInner_c69a7b .text-lg-semibold__84aef.defaultColor__77578,
#app-mount .isUnread_fc5f50 .content_fc5f50,
#app-mount .divider_fc5f50 span,
.tooltipContent_b6c360,
.container_c2668b>.header_c2668b.header_e378b3,
.container_c2668b>.description_c2668b:after,
.container_f9902b>.inner_f9902b>div:after,
.archivedDivider-2dQ9JY,
.headerText-3MQ6n4>h3>span,
.wordmark__421ed:before {
    color: var(--Primary);
}

.container_c2668b>.header_c2668b.header_e378b3,
.container_c2668b>.description_c2668b:after,
.container_f9902b>.inner_f9902b>div:after {
    font-weight: 600;
}