.name_f37cb1,
.name_29444b,
.title_9293f6,
.headerText_99e7ca,
.nameTag_37e496>div:first-child>div,
.guildNameText_b1f768,
.sidebar_5e4343 .content_99f8cc>div[style^="height"]:not([aria-hidden]):after,
.iconWrapper_9293f6.clickable_9293f6 .icon_9293f6,
.visual-refresh .searchBar_c322aa .icon_c322aa:not(.clear_fea832):after,
.winButton_421ede,
.fieldTitle_1fed1d,
.wordmark_421ede:before,
.userTag_1fed1d,
.headerText_aa8da2,
.bd-sidebar-header h2,
.title_b717a1,
.title_ace4f5,
.h5_b717a1,
.nickname_c9ccf6,
.title_c4a579,
.userInfoSectionHeader-2mYYun,
.userProfileInner_c69a7b .text-lg-semibold__84aef.defaultColor__77578,
#app-mount .isUnread_908e20 .content_908e20,
#app-mount .divider_908e20 span,
.tooltipContent_c36707,
.container_00de6f>.header_00de6f.header_7e6bb7,
.container_00de6f>.description_00de6f:after,
.container_aae012>.inner_aae012>div:after,
.archivedDivider-2dQ9JY,
.headerText-3MQ6n4>h3>span,
.wordmark_421ede:before {
    color: var(--Primary);
}

.container_00de6f>.header_00de6f.header_7e6bb7,
.container_00de6f>.description_00de6f:after,
.container_aae012>.inner_aae012>div:after {
    font-weight: 600;
}