@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors/selectors.css");

@keyframes RGB_TEXT {
    0% {
        color: var(--Primary);
    }

    11% {
        color: var(--Color2);
    }

    22% {
        color: var(--Color3);
    }

    33% {
        color: var(--Color4);
    }

    44% {
        color: var(--Color5);
    }

    55% {
        color: var(--Color6);
    }

    66% {
        color: var(--Color7);
    }

    77% {
        color: var(--Color8);
    }

    88% {
        color: var(--Color9);
    }

    99% {
        color: var(--Color10);
    }

    to {
        color: var(--Primary);
    }
}

@-webkit-keyframes RGB_TEXT {
    0% {
        color: var(--Primary);
    }

    11% {
        color: var(--Color2);
    }

    22% {
        color: var(--Color3);
    }

    33% {
        color: var(--Color4);
    }

    44% {
        color: var(--Color5);
    }

    55% {
        color: var(--Color6);
    }

    66% {
        color: var(--Color7);
    }

    77% {
        color: var(--Color8);
    }

    88% {
        color: var(--Color9);
    }

    99% {
        color: var(--Color10);
    }

    to {
        color: var(--Primary);
    }
}

@keyframes RGB_BG {
    0% {
        background-color: var(--Primary);
        background-image: var(--Primary)
    }

    11% {
        background-color: var(--Color2);
        background-image: var(--Color2)
    }

    22% {
        background-color: var(--Color3);
        background-image: var(--Color3)
    }

    33% {
        background-color: var(--Color4);
        background-image: var(--Color4)
    }

    44% {
        background-color: var(--Color5);
        background-image: var(--Color5)
    }

    55% {
        background-color: var(--Color6);
        background-image: var(--Color6)
    }

    66% {
        background-color: var(--Color7);
        background-image: var(--Color7)
    }

    77% {
        background-color: var(--Color8);
        background-image: var(--Color8)
    }

    88% {
        background-color: var(--Color9);
        background-image: var(--Color9)
    }

    99% {
        background-color: var(--Color10);
        background-image: var(--Color10)
    }

    to {
        background-color: var(--Primary);
        background-image: var(--Primary)
    }
}

@-webkit-keyframes RGB_BG {
    0% {
        background-color: var(--Primary);
        background-image: var(--Primary)
    }

    11% {
        background-color: var(--Color2);
        background-image: var(--Color2)
    }

    22% {
        background-color: var(--Color3);
        background-image: var(--Color3)
    }

    33% {
        background-color: var(--Color4);
        background-image: var(--Color4)
    }

    44% {
        background-color: var(--Color5);
        background-image: var(--Color5)
    }

    55% {
        background-color: var(--Color6);
        background-image: var(--Color6)
    }

    66% {
        background-color: var(--Color7);
        background-image: var(--Color7)
    }

    77% {
        background-color: var(--Color8);
        background-image: var(--Color8)
    }

    88% {
        background-color: var(--Color9);
        background-image: var(--Color9)
    }

    99% {
        background-color: var(--Color10);
        background-image: var(--Color10)
    }

    to {
        background-color: var(--Primary);
        background-image: var(--Primary)
    }
}