@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors/selectors.css");

@keyframes RGB_TEXT {
	0% {
		color: var(--Primary)
	}

	51% {
		color: var(--Color2)
	}

	to {
		color: var(--Primary)
	}
}

@keyframes RGB_BG {
	0% {
		background-color: var(--Primary);
		background-image: var(--Primary)
	}

	51% {
		background-color: var(--Color2);
		background-image: var(--Color2)
	}

	to {
		background-color: var(--Primary);
		background-image: var(--Primary)
	}
}

@keyframes RGB_BG_TEXT {
	0% {
		background-color: var(--Primary);
		background-image: var(--Primary);
		color: var(--Primary)
	}

	51% {
		background-color: var(--Color2);
		background-image: var(--Color2);
		color: var(--Color2)
	}

	to {
		background-color: var(--Primary);
		background-image: var(--Primary);
		color: var(--Primary)
	}
}

@keyframes RGB_FILL {
	0% {
		fill: var(--Primary)
	}

	51% {
		fill: var(--Color2)
	}

	to {
		fill: var(--Primary)
	}
}

@keyframes RGB_BORDER {
	0% {
		border-color: var(--Primary)
	}

	51% {
		border-color: var(--Color2)
	}

	to {
		border-color: var(--Primary)
	}
}