@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors/selectors.css");

@keyframes RGB_TEXT {
	0% {
		color: var(--Primary)
	}

	34% {
		color: var(--Color2)
	}

	69% {
		color: var(--Color3)
	}

	to {
		color: var(--Primary)
	}
}

@-webkit-keyframes RGB_TEXT {
	0% {
		color: var(--Primary)
	}

	34% {
		color: var(--Color2)
	}

	69% {
		color: var(--Color3)
	}

	to {
		color: var(--Primary)
	}
}

@keyframes RGB_BG {
	0% {
		background-color: var(--Primary);
		background-image: var(--Primary)
	}

	34% {
		background-color: var(--Color2);
		background-image: var(--Color2)
	}

	69% {
		background-color: var(--Color3);
		background-image: ar(--Color3)
	}

	to {
		background-color: var(--Primary);
		background-image: var(--Primary)
	}
}

@-webkit-keyframes RGB_BG {
	0% {
		background-color: var(--Primary);
		background-image: var(--Primary)
	}

	34% {
		background-color: var(--Color2);
		background-image: var(--Color2)
	}

	69% {
		background-color: var(--Color3);
		background-image: ar(--Color3)
	}

	to {
		background-color: var(--Primary);
		background-image: var(--Primary)
	}
}