@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors/selectors.css");

@keyframes RGB_TEXT {
	0% {
		color: var(--Primary)
	}

	34% {
		color: var(--Color2)
	}

	69% {
		color: var(--Color3)
	}

	to {
		color: var(--Primary)
	}
}

@keyframes RGB_BG {
	0% {
		background-color: var(--Primary)
	}

	34% {
		background-color: var(--Color2)
	}

	69% {
		background-color: var(--Color3)
	}

	to {
		background-color: var(--Primary)
	}
}

@keyframes RGB_BG-SHADOW {
	0% {
		background-color: var(--Primary);
		box-shadow: 0 0 5px var(--Primary)
	}

	34% {
		background-color: var(--Color2);
		box-shadow: 0 0 5px var(--Color2)
	}

	69% {
		background-color: var(--Color3);
		box-shadow: 0 0 5px var(--Color3)
	}

	to {
		background-color: var(--Primary);
		box-shadow: 0 0 5px var(--Primary)
	}
}

@-webkit-keyframes RGB_TEXT {
	0% {
		color: var(--Primary)
	}

	34% {
		color: var(--Color2)
	}

	69% {
		color: var(--Color3)
	}

	to {
		color: var(--Primary)
	}
}

@-webkit-keyframes RGB_BG {
	0% {
		background-color: var(--Primary)
	}

	34% {
		background-color: var(--Color2)
	}

	69% {
		background-color: var(--Color3)
	}

	to {
		background-color: var(--Primary)
	}
}

@-webkit-keyframes RGB_BG-SHADOW {
	0% {
		background-color: var(--Primary);
		box-shadow: 0 0 5px var(--Primary)
	}

	34% {
		background-color: var(--Color2);
		box-shadow: 0 0 5px var(--Color2)
	}

	69% {
		background-color: var(--Color3);
		box-shadow: 0 0 5px var(--Color3)
	}

	to {
		background-color: var(--Primary);
		box-shadow: 0 0 5px var(--Primary)
	}
}