@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors/selectors.css");

@keyframes RGB_TEXT {
    0% {
        color: var(--Primary);
    }

    12% {
        color: var(--Color2);
    }

    24% {
        color: var(--Color3);
    }

    36% {
        color: var(--Color4);
    }

    48% {
        color: var(--Color5);
    }

    61% {
        color: var(--Color6);
    }

    73% {
        color: var(--Color7);
    }

    85% {
        color: var(--Color8);
    }

    97% {
        color: var(--Color9);
    }

    to {
        color: var(--Primary);
    }
}

@keyframes RGB_BG {
    0% {
        background-color: var(--Primary);
        background-image: var(--Primary)
    }

    12% {
        background-color: var(--Color2);
        background-image: var(--Color2)
    }

    24% {
        background-color: var(--Color3);
        background-image: var(--Color3)
    }

    36% {
        background-color: var(--Color4);
        background-image: var(--Color4)
    }

    48% {
        background-color: var(--Color5);
        background-image: var(--Color5)
    }

    61% {
        background-color: var(--Color6);
        background-image: var(--Color6)
    }

    73% {
        background-color: var(--Color7);
        background-image: var(--Color7)
    }

    85% {
        background-color: var(--Color8);
        background-image: var(--Color8)
    }

    97% {
        background-color: var(--Color9);
        background-image: var(--Color9)
    }

    to {
        background-color: var(--Primary);
        background-image: var(--Primary)
    }
}

@keyframes RGB_BG_TEXT {
    0% {
        background-color: var(--Primary);
        background-image: var(--Primary);
        color: var(--Primary);
    }

    12% {
        background-color: var(--Color2);
        background-image: var(--Color2);
        color: var(--Color2);
    }

    24% {
        background-color: var(--Color3);
        background-image: var(--Color3);
        color: var(--Color3);
    }

    36% {
        background-color: var(--Color4);
        background-image: var(--Color4);
        color: var(--Color4);
    }

    48% {
        background-color: var(--Color5);
        background-image: var(--Color5);
        color: var(--Color5);
    }

    61% {
        background-color: var(--Color6);
        background-image: var(--Color6);
        color: var(--Color6);
    }

    73% {
        background-color: var(--Color7);
        background-image: var(--Color7);
        color: var(--Color7);
    }

    85% {
        background-color: var(--Color8);
        background-image: var(--Color8);
        color: var(--Color8);
    }

    97% {
        background-color: var(--Color9);
        background-image: var(--Color9);
        color: var(--Color9);
    }

    to {
        background-color: var(--Primary);
        background-image: var(--Primary);
        color: var(--Primary);
    }
}

@keyframes RGB_FILL {
    0% {
        fill: var(--Primary);
    }

    12% {
        fill: var(--Color2);
    }

    24% {
        fill: var(--Color3);
    }

    36% {
        fill: var(--Color4);
    }

    48% {
        fill: var(--Color5);
    }

    61% {
        fill: var(--Color6);
    }

    73% {
        fill: var(--Color7);
    }

    85% {
        fill: var(--Color8);
    }

    97% {
        fill: var(--Color9);
    }

    to {
        fill: var(--Primary);
    }
}

@keyframes RGB_BORDER {
    0% {
        border-color: var(--Primary);
    }

    12% {
        border-color: var(--Color2);
    }

    24% {
        border-color: var(--Color3);
    }

    36% {
        border-color: var(--Color4);
    }

    48% {
        border-color: var(--Color5);
    }

    61% {
        border-color: var(--Color6);
    }

    73% {
        border-color: var(--Color7);
    }

    85% {
        border-color: var(--Color8);
    }

    97% {
        border-color: var(--Color9);
    }

    to {
        border-color: var(--Primary);
    }
}
