.accountProfileCard__22589>.background_b61fcc>.fieldList_aab0de>.field__9e8e2,
.flowerStarContainer_d8d14b>svg,
.interactive__776ee:focus-within,
.interactive__776ee:hover,
.expandedFolderBackground__1bec6:not(.collapsed__0a270),
.bd-minimal .guilds__2b93a.wrapper_d281dd>span:not(.collapsed__0a270),
#app-mount .expandedFolderBackground__1bec6.collapsed__0a270+.listItem_fa7b36 .folderIconWrapper__72239[style^="background-color: rgba(88, 101, 242, 0.4);"]:before,
#app-mount .pill__6b31b>.item_f9d377,
#app-mount .newBadge__359f1,
#app-mount .newBadge-3reGJW,
#app-mount .newChannel_f99b92,
#app-mount .newBadge-1LcB6t,
#app-mount .newBadge_b013d6,
.barFill__30e17,
.lookFilled__19298.colorBrand_b2253e,
.hoverButtonGroup__5b423.nonMediaAttachment__30665,
.lookFilled__19298.colorPrimary__6ed40,
.reaction_fef95b[class*=reactionMe],
.reaction_b90ab0[class*=reactionMe],
#app-mount .container__79822:not(.playing_eb5c63) .playButtonContainer_d887d6,
#app-mount .container__79822.playing_eb5c63>div>.ripple__74f0d,
.embedProvider_cfa718>a:before,
.embedProvider_cfa718>span:before,
.channel_c21703 .selected_d94cf9:before,
div.selected__9800b.member_aa4760:after,
div.selected-3veCBZ:before,
div.link__95dc0[class*="modeSelected_"]:before {
	animation: RGB_BG var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG var(--ColorTime) linear infinite !important;
}

.guilds__2b93a .scroller__3d071>div:not([class]):not([style])+div[class^=tutorialContainer]+.listItem_fa7b36 div[class^=circleIconButton_],
div[class^=circleIconButton_], .guilds__2b93a .scroller__3d071>div:not([class]):not([style])+div[class^=tutorialContainer] div[class^=circleIconButton_],
.info__755e1:before,
.mentioned__58017:before,
.closeButton__34341,
.tutorialContainer__890ea .circleIconButton_d8df29,
.tutorialContainer__890ea+.listItem_fa7b36 .circleIconButton_d8df29,
.progressBarContainer__82ad7,
.containerWithMargin__7d380,
.containerDefault__3187b>.wrapper__7bcde.modeSelected__487d6:before {
	animation: RGB_BG var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG var(--ColorTime) linear infinite !important;
}

.accountProfileCard__22589>.background_b61fcc>.fieldList_aab0de>.field__9e8e2:hover>.fieldButtonList__7db82>button,
.accountProfileCard__22589>.background_b61fcc>.fieldList_aab0de>.field__9e8e2:hover>button,
.lookLink__93965.colorLink_b651e5,
#bd-settings-sidebar .ui-tab-bar-header,
.header-2Kx1US,
.name-IbjUBS,
.membersGroup__85843>span,
.inviteDestinationJoined_c0a563,
.optionHeader-27AHfD,
.sidebar_ded4b5 .containerDefault__3187b.selected__3b4cb .iconContainer__3f9b0:before,
.sidebar_ded4b5 .containerDefault__3187b.selected__3b4cb>svg,
.sidebar_ded4b5 .containerDefault__3187b.selected__3b4cb .channelName-3KPsGw,
.name_c08dbc,
.name__590d6,
.title__9e2b0,
.headerText__051c0,
.nameTag__0e320>div:first-child>div,
.guildNameText__16f3c,
.sidebar_ded4b5 .content__23cab>div[style^="height"]:not([aria-hidden]):after,
.iconWrapper_af9215.clickable_d23a1a .icon__4cb88,
.searchBar_e0c60b .icon__46425:not(.clear_e3e382):after,
.winButton__88672,
.wordmark__0d178:before,
.userTag__4ca14,
.headerText__94c22,
.bd-sidebar-header h2 {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.title__3e421,
.title__317f4,
.h5__884a2,
.nickname__3d1d7,
.title_ef4a6d,
.userInfoSectionHeader-2mYYun,
.userProfileInner__8065b .text-lg-semibold__84aef.defaultColor__77578,
#app-mount .isUnread__6f880 .content_d67847,
#app-mount .divider_b9338f span,
.tooltipContent__79a2d,
.container_b03b4b>.header__4080b.header__6f020,
.container_b03b4b>.description__57d03:after,
.container__41e05>.inner__4350a>div:after,
.archivedDivider-2dQ9JY,
.headerText-3MQ6n4>h3>span,
.anchor_c8ddc0:not(.hoverButton__13836):not(.embedLink__00ab9:before),
.users__65981 {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.container_b03b4b>.header__4080b.header__6f020,
.container_b03b4b>.description__57d03:after,
.container__41e05>.inner__4350a>div:after {
	font-weight: 600;
}

#app-mount .expandedFolderBackground__1bec6 {
	opacity: 1;
}

#app-mount .expandedFolderBackground__1bec6+.listItem_fa7b36 .folderIconWrapper__72239,
#app-mount .flowerStarContainer_d8d14b {
	background-color: transparent;
}