.accountProfileCard_1fed1d>.background_1fed1d>.fieldList_1fed1d>.field_1fed1d,
.flowerStarContainer_3e3b0b>svg,
.interactive_bf202d:focus-within,
.interactive_bf202d:hover,
#app-mount .guilds__5e434 .listItem__650eb .pill_e5445c>span:not([style*="height: 8px;"]),
#app-mount .newBadge_faa96b,
#app-mount .newBadge-3reGJW,
#app-mount .newChannel_599fa2,
#app-mount .newBadge-1LcB6t,
#app-mount .newBadge_5d7c9a,
.barFill_a562c8,
.lookFilled_201d5e.colorBrand_201d5e,
.hoverButtonGroup_06ab41.nonMediaAttachment_ef83c1,
.lookFilled_201d5e.colorPrimary_201d5e:not(:hover),
.reaction_23977d[class*=reactionMe],
.reaction_f8896c[class*=reactionMe],
#app-mount .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786,
#app-mount .container_a8e786.playing_a8e786>div>.ripple_a8e786,
.embedProvider_623de8>a:before,
.embedProvider_623de8>span:before,
.channel_972a0d .selected_bf202d:before,
.selected__91a9d.member_c8ffbb:after,
div.selected-3veCBZ:before,
div.link_2ea32c[class*="modeSelected_"]:before {
	animation: RGB_BG var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG var(--ColorTime) linear infinite !important;
}

.active_a22cb0:not(:hover),
.progressContainer_0d0f9d,
.progress_0d0f9d,
.replying_5126c0:before,
.expandButton_fccfdf:not(:hover),
.bd-addon-views .bd-view-button.selected,
.bd-button-filled.bd-button-color-brand,
.dragInner_878475,
.rowDivider_cb32c7,
.channelAttachmentArea_b77158+.divider_908e20,
.childWrapperNoHoverBg_6e9f8d,
.userProfileInner_c69a7b .section_d7a21f>.markup_752971:before,
.userProfileInner_c69a7b .section_d7a21f>.markup_752971:after,
.descriptionClamp_f5f93a:before,
.descriptionClamp_f5f93a:after,
.viewFullBio_f5f93a,
.notice_6e2b93,
.guilds__5e434 .scroller_ef3116>div:not([class]):not([style])+div[class$=-tutorialContainer]+.listItem__650eb div[class$=-circleIconButton],
div[class$=-circleIconButton], .guilds__5e434 .scroller_ef3116>div:not([class]):not([style])+div[class$=-tutorialContainer] div[class$=-circleIconButton],
.info_2debea:before,
.mentioned_5126c0:before,
.hasReply_c19a55.mentioned_5126c0:not(:has(.roleMention_752971[style]))::after,
.closeButton_c2b141,
.tutorialContainer_1f388b .circleIconButton__5bc7e,
.tutorialContainer_1f388b+.listItem__650eb .circleIconButton__5bc7e,
.progressBarContainer_baf530,
.containerWithMargin_eff079,
.containerDefault_c69b6d>.wrapper_2ea32c.modeSelected_2ea32c:before {
	animation: RGB_BG var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG var(--ColorTime) linear infinite !important;
}

.caret_9293f6+span+.titleWrapper_9293f6:before,
.accountProfileCard_1fed1d>.background_1fed1d>.fieldList_1fed1d>.field_1fed1d:hover>.fieldButtonList_1fed1d>button,
.accountProfileCard_1fed1d>.background_1fed1d>.fieldList_1fed1d>.field_1fed1d:hover>button,
.lookLink_201d5e.colorLink_201d5e,
#bd-settings-sidebar .ui-tab-bar-header,
.header-2Kx1US,
.name-IbjUBS,
.inviteDestinationJoined_d5f3cd,
.optionHeader-27AHfD,
.sidebar_5e4343 .containerDefault_c69b6d.selected_c69b6d .iconContainer_2ea32c:before,
.sidebar_5e4343 .containerDefault_c69b6d.selected_c69b6d>svg,
.sidebar_5e4343 .containerDefault_c69b6d.selected_c69b6d .channelName-3KPsGw,
.name_f37cb1,
.name_29444b,
.name_29444b,
.title_9293f6,
.headerText_99e7ca,
.nameTag_37e496>div:first-child>div,
.guildNameText_b1f768,
.sidebar_5e4343 .content_99f8cc>div[style^="height"]:not([aria-hidden]):after,
.iconWrapper_9293f6.clickable_9293f6 .icon_9293f6,
.searchBar_c322aa .icon_c322aa:not(.clear_fea832):after,
.winButton_421ede,
.wordmark_421ede:before,
.userTag_1fed1d,
.headerText_aa8da2,
.bd-sidebar-header h2 {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.membersGroup_c8ffbb>span,
.title_b717a1,
.title_ace4f5,
.h5_b717a1,
.nickname_c9ccf6,
.title_c4a579,
.userInfoSectionHeader-2mYYun,
.userProfileInner_c69a7b .text-lg-semibold__84aef.defaultColor__77578,
#app-mount .isUnread_908e20 .content_908e20,
#app-mount .divider_908e20 span,
.tooltipContent_c36707,
.container_00de6f>.header_00de6f.header_7e6bb7,
.container_00de6f>.description_00de6f:after,
.container_aae012>.inner_aae012>div:after,
.archivedDivider-2dQ9JY,
.headerText-3MQ6n4>h3>span,
.anchor_edefb8:not(.hoverButton_be4802),
.users_260e19 {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.sidebar_5e4343 .containerDefault_c69b6d.selected_c69b6d .iconContainer_2ea32c:before, 
.sidebar_5e4343 .containerDefault_c69b6d.selected_c69b6d>svg,
.sidebar_5e4343 .containerDefault_c69b6d.selected_c69b6d .channelName-3KPsGw,
.sidebar_5e4343 .content_99f8cc>div[style^="height"]:not([aria-hidden]) {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

#app-mount .pill__1f388>.item_581051:not([style*="height: 8px;"]) {
	animation: RGB_BG_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG_TEXT var(--ColorTime) linear infinite !important;
}

.container_00de6f>.header_00de6f.header_7e6bb7,
.container_00de6f>.description_00de6f:after,
.container_aae012>.inner_aae012>div:after {
	font-weight: 600;
}

#app-mount .flowerStarContainer_3e3b0b {
	background-color: transparent;
}