.accountProfileCard_b69b77>.background_b69b77>.fieldList_b69b77>.field_b69b77,
.flowerStarContainer_ff7d90>svg,
.interactive_f5eb4b:focus-within,
.interactive_f5eb4b:hover,
.expandedFolderBackground_bc7085:not(.collapsed_bc7085),
.bd-minimal .guilds_a4d4d9.wrapper__8436d>span:not(.collapsed_bc7085),
#app-mount .expandedFolderBackground_bc7085.collapsed_bc7085+.listItem_c96c45 .folderIconWrapper_bc7085[style^="background-color: rgba(88, 101, 242, 0.4);"]:before,
#app-mount .pill_a5ad63>.item_c4cd66,
#app-mount .pill_f9623d>.item_c4cd66,
#app-mount .newBadge_d331f1,
#app-mount .newBadge-3reGJW,
#app-mount .newChannel_ecb303,
#app-mount .newBadge-1LcB6t,
#app-mount .newBadge_c6b11b,
.barFill_c7a159,
.lookFilled_dd4f85.colorBrand_dd4f85,
.hoverButtonGroup__304b2.nonMediaAttachment_ef83c1,
.lookFilled_dd4f85.colorPrimary_dd4f85:not(:hover),
.reaction_ec6b19[class*=reactionMe],
.reaction_f61c73[class*=reactionMe],
#app-mount .container_d6cb89:not(.playing_d6cb89) .playButtonContainer_d6cb89,
#app-mount .container_d6cb89.playing_d6cb89>div>.ripple_d6cb89,
.embedProvider_ad0b71>a:before,
.embedProvider_ad0b71>span:before,
.channel_c91bad .selected_f5eb4b:before,
div.selected_e9f61e.member_a31c43:after,
div.selected-3veCBZ:before,
div.link_d8bfb3[class*="modeSelected_"]:before {
	animation: RGB_BG var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG var(--ColorTime) linear infinite !important;
}

.childWrapperNoHoverBg_f90abb,
.userProfileInner_c69a7b .section_d7a21f>.markup_f8f345:before,
.userProfileInner_c69a7b .section_d7a21f>.markup_f8f345:after,
.descriptionClamp_fc5c48:before,
.descriptionClamp_fc5c48:after,
.viewFullBio_fc5c48,
.notice_a50047,
.guilds_a4d4d9 .scroller_fea3ef>div:not([class]):not([style])+div[class^=tutorialContainer]+.listItem_c96c45 div[class^=circleIconButton_],
div[class^=circleIconButton_], .guilds_a4d4d9 .scroller_fea3ef>div:not([class]):not([style])+div[class^=tutorialContainer] div[class^=circleIconButton_],
.info_c5a741:before,
.mentioned_d5deea:before,
.closeButton_df5532,
.tutorialContainer_f9623d .circleIconButton_db6521,
.tutorialContainer_f9623d+.listItem_c96c45 .circleIconButton_db6521,
.progressBarContainer_e31e8a,
.containerWithMargin_c75f85,
.containerDefault_f6f816>.wrapper_d8bfb3.modeSelected_d8bfb3:before {
	animation: RGB_BG var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG var(--ColorTime) linear infinite !important;
}

.accountProfileCard_b69b77>.background_b69b77>.fieldList_b69b77>.field_b69b77:hover>.fieldButtonList_b69b77>button,
.accountProfileCard_b69b77>.background_b69b77>.fieldList_b69b77>.field_b69b77:hover>button,
.lookLink_dd4f85.colorLink_dd4f85,
#bd-settings-sidebar .ui-tab-bar-header,
.header-2Kx1US,
.name-IbjUBS,
.membersGroup_cbd271>span,
.inviteDestinationJoined_b9fe76,
.optionHeader-27AHfD,
.sidebar_a4d4d9 .containerDefault_f6f816.selected_f6f816 .iconContainer_d8bfb3:before,
.sidebar_a4d4d9 .containerDefault_f6f816.selected_f6f816>svg,
.sidebar_a4d4d9 .containerDefault_f6f816.selected_f6f816 .channelName-3KPsGw,
.name_fd6364,
.name_a08117,
.name_a08117,
.title_e44302,
.headerText_c47fa9,
.nameTag_b2ca13>div:first-child>div,
.guildNameText_a6ae3c,
.sidebar_a4d4d9 .content_eed6a8>div[style^="height"]:not([aria-hidden]):after,
.iconWrapper_e44302.clickable_e44302 .icon_e44302,
.searchBar_a46bef .icon_a46bef:not(.clear_effbe2):after,
.winButton_a934d8,
.wordmark_a934d8:before,
.userTag_b69b77,
.headerText_a0,
.bd-sidebar-header h2 {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.title_c46f6a,
.title_b3a5c2,
.h5_c46f6a,
.nickname_c9ccf6,
.title_c4a579,
.userInfoSectionHeader-2mYYun,
.userProfileInner_c69a7b .text-lg-semibold__84aef.defaultColor__77578,
#app-mount .isUnread_fc5f50 .content_fc5f50,
#app-mount .divider_fc5f50 span,
.tooltipContent_b6c360,
.container_c2668b>.header_c2668b.header_e378b3,
.container_c2668b>.description_c2668b:after,
.container_f9902b>.inner_f9902b>div:after,
.archivedDivider-2dQ9JY,
.headerText-3MQ6n4>h3>span,
.anchor_af404b:not(.hoverButton_be4802),
.users_a5bc92 {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.sidebar_a4d4d9 .containerDefault_f6f816.selected_f6f816 .iconContainer_d8bfb3:before, 
.sidebar_a4d4d9 .containerDefault_f6f816.selected_f6f816>svg,
.sidebar_a4d4d9 .containerDefault_f6f816.selected_f6f816 .channelName-3KPsGw,
.sidebar_a4d4d9 .content_eed6a8>div[style^="height"]:not([aria-hidden]) {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.container_c2668b>.header_c2668b.header_e378b3,
.container_c2668b>.description_c2668b:after,
.container_f9902b>.inner_f9902b>div:after {
	font-weight: 600;
}

#app-mount .expandedFolderBackground_bc7085 {
	opacity: 1;
}

#app-mount .expandedFolderBackground_bc7085+.listItem_c96c45 .folderIconWrapper_bc7085,
#app-mount .flowerStarContainer_ff7d90 {
	background-color: transparent;
}