.accountProfileCard__1fed1>.background__1fed1>.fieldList__1fed1>.field__1fed1,
.flowerStarContainer__3e3b0>svg,
.interactive_bf202d:focus-within,
.interactive_bf202d:hover,
.expandedFolderBackground__48112:not(.collapsed__48112),
.bd-minimal .guilds_c48ade.wrapper__8436d>span:not(.collapsed__48112),
#app-mount .expandedFolderBackground__48112.collapsed__48112+.listItem__650eb .folderIconWrapper__48112[style^="background-color: rgba(88, 101, 242, 0.4);"]:before,
#app-mount .pill__1f388>.item__58105,
#app-mount .pill_e5445c>.item__58105,
#app-mount .newBadge_faa96b,
#app-mount .newBadge-3reGJW,
#app-mount .newChannel__599fa,
#app-mount .newBadge-1LcB6t,
#app-mount .newBadge__5d7c9,
.barFill_a562c8,
.lookFilled__201d5.colorBrand__201d5,
.hoverButtonGroup__06ab4.nonMediaAttachment_ef83c1,
.lookFilled__201d5.colorPrimary__201d5:not(:hover),
.reaction__23977[class*=reactionMe],
.reaction_f8896c[class*=reactionMe],
#app-mount .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786,
#app-mount .container_a8e786.playing_a8e786>div>.ripple_a8e786,
.embedProvider__623de>a:before,
.embedProvider__623de>span:before,
.channel__972a0 .selected_bf202d:before,
div.selected__91a9d.member_c8ffbb:after,
div.selected-3veCBZ:before,
div.link__2ea32[class*="modeSelected_"]:before {
	animation: RGB_BG var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG var(--ColorTime) linear infinite !important;
}

.bd-addon-views .bd-view-button.selected,
.bd-button-filled.bd-button-color-brand,
.dragInner__87847,
.rowDivider_cb32c7,
.channelAttachmentArea_b77158+.divider__908e2,
.childWrapperNoHoverBg__6e9f8,
.userProfileInner_c69a7b .section_d7a21f>.markup__75297:before,
.userProfileInner_c69a7b .section_d7a21f>.markup__75297:after,
.descriptionClamp_f5f93a:before,
.descriptionClamp_f5f93a:after,
.viewFullBio_f5f93a,
.notice__6e2b9,
.guilds_c48ade .scroller_ef3116>div:not([class]):not([style])+div[class^=tutorialContainer]+.listItem__650eb div[class^=circleIconButton_],
div[class^=circleIconButton_], .guilds_c48ade .scroller_ef3116>div:not([class]):not([style])+div[class^=tutorialContainer] div[class^=circleIconButton_],
.info__2debe:before,
.mentioned__5126c:before,
.hasReply_c19a55.mentioned__5126c:not(:has(.roleMention__75297[style]))::after,
.closeButton_c2b141,
.tutorialContainer__1f388 .circleIconButton__5bc7e,
.tutorialContainer__1f388+.listItem__650eb .circleIconButton__5bc7e,
.progressBarContainer_baf530,
.containerWithMargin_eff079,
.containerDefault_c69b6d>.wrapper__2ea32.modeSelected__2ea32:before {
	animation: RGB_BG var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG var(--ColorTime) linear infinite !important;
}

.caret__9293f+span+.titleWrapper__9293f:before,
.accountProfileCard__1fed1>.background__1fed1>.fieldList__1fed1>.field__1fed1:hover>.fieldButtonList__1fed1>button,
.accountProfileCard__1fed1>.background__1fed1>.fieldList__1fed1>.field__1fed1:hover>button,
.lookLink__201d5.colorLink__201d5,
#bd-settings-sidebar .ui-tab-bar-header,
.header-2Kx1US,
.name-IbjUBS,
.membersGroup_c8ffbb>span,
.inviteDestinationJoined_d5f3cd,
.optionHeader-27AHfD,
.sidebar_c48ade .containerDefault_c69b6d.selected_c69b6d .iconContainer__2ea32:before,
.sidebar_c48ade .containerDefault_c69b6d.selected_c69b6d>svg,
.sidebar_c48ade .containerDefault_c69b6d.selected_c69b6d .channelName-3KPsGw,
.name_f37cb1,
.name__29444,
.name__29444,
.title__9293f,
.headerText__99e7c,
.nameTag__37e49>div:first-child>div,
.guildNameText_b1f768,
.sidebar_c48ade .content__99f8c>div[style^="height"]:not([aria-hidden]):after,
.iconWrapper__9293f.clickable__9293f .icon__9293f,
.searchBar__97492 .icon__97492:not(.clear_fea832):after,
.winButton__421ed,
.wordmark__421ed:before,
.userTag__1fed1,
.headerText_b3f026,
.bd-sidebar-header h2 {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.title_b717a1,
.title_ace4f5,
.h5_b717a1,
.nickname_c9ccf6,
.title_c4a579,
.userInfoSectionHeader-2mYYun,
.userProfileInner_c69a7b .text-lg-semibold__84aef.defaultColor__77578,
#app-mount .isUnread__908e2 .content__908e2,
#app-mount .divider__908e2 span,
.tooltipContent__382e7,
.container__00de6>.header__00de6.header__7e6bb,
.container__00de6>.description__00de6:after,
.container_aae012>.inner_aae012>div:after,
.archivedDivider-2dQ9JY,
.headerText-3MQ6n4>h3>span,
.anchor_edefb8:not(.hoverButton_be4802),
.users__260e1 {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.sidebar_c48ade .containerDefault_c69b6d.selected_c69b6d .iconContainer__2ea32:before, 
.sidebar_c48ade .containerDefault_c69b6d.selected_c69b6d>svg,
.sidebar_c48ade .containerDefault_c69b6d.selected_c69b6d .channelName-3KPsGw,
.sidebar_c48ade .content__99f8c>div[style^="height"]:not([aria-hidden]) {
	animation: RGB_TEXT var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--ColorTime) linear infinite !important;
}

.container__00de6>.header__00de6.header__7e6bb,
.container__00de6>.description__00de6:after,
.container_aae012>.inner_aae012>div:after {
	font-weight: 600;
}

#app-mount .expandedFolderBackground__48112 {
	opacity: 1;
}

#app-mount .expandedFolderBackground__48112+.listItem__650eb .folderIconWrapper__48112,
#app-mount .flowerStarContainer__3e3b0 {
	background-color: transparent;
}