/**
* @name WizardUI
* @author NEBULYS#0984
* @authorLink https://github.com/GoldenLys
* @version BETA
* @invite SBuYeHh
* @description An amazing theme with full customization included, made with 💖 by Purple Wizard.
* @website https://purplewizard.space/
*/

@import url("https://fonts.googleapis.com/css?family=Quicksand&amp;display=swap");

/* This is an addon that adds the Marianne font.
@import url("https://goldenlys.github.io/WizardUI/addons/Marianne.css"); */

@import url("https://goldenlys.github.io/WizardUI/base.css");

/* This is an addon that moves the servers to the top with an horizontal width.*/
@import url("https://goldenlys.github.io/WizardUI/addons/PurpleServerList.css");

/* This is a modification for PurpleServerList which replaces the folders icons with letters.
@import url("https://goldenlys.github.io/WizardUI/addons/LettersInPSL.css"); */

/* This is an addon that makes the members list hidden until you hover it.
@import url("https://goldenlys.github.io/WizardUI/addons/HoverMembers.css"); */

/* This is an addon that moves the "user is typing" text to the bottom of the app, like the default discord.
@import url("https://goldenlys.github.io/WizardUI/addons/UserIsTyping.css"); */

/* This is an addon that recolor most titles in the app with the main theme color.
@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors.css"); */

*,
*:before,
*:after {
    /* MAIN VARIABLES */
    --font: 'Quicksand', 'emoji', sans-serif;
    --Text: rgb(255, 255, 255);
    --logo: url(https://goldenlys.github.io/WUITG/images/home.png);

     /* STATUS VARIABLES */
    --Online: rgb(0, 255, 6);
    --Idle: rgb(18, 100, 239);
    --Unavailable: rgb(228, 15, 0);
    --Offline: rgb(90, 95, 100);
    --Streaming: rgb(110, 0, 196);

    /* UI COLOR VARIABLES */
    --grey: rgb(18, 19, 31);
    --grey5: rgba(18, 19, 31, .75);
    --darkgrey: rgb(10, 10, 20);
    --darkgrey5: rgba(10, 10, 20, .75);
    --ui-success: rgb(69, 208, 34);
    --ui-warning: rgb(238, 165, 30);
    --ui-error: rgb(208, 34, 34);

    /* THEME COLORS */
    --Primary: rgb(117 76 205);
    --text-link: var(--Primary);
    --Highlighted: rgba(117 76 205 / 5%);
    --MessageHover: transparent;
    --Unread: rgb(255 255 255 / 10%);
    --Hover: rgb(18 19 31 / 50%);
    --Selected: rgb(56 33 146);

    /* BACKGROUNDS */
    --background: url(https://goldenlys.github.io/WUITG/images/backgrounds/clouds.png);
    --bg-titlebar: rgba(0, 0, 0, 0.65);
    --bg-servers: rgba(0, 0, 0, 0.65);
    --bg-ui: rgba(0, 0, 0, 0.65);
    --bg-chatbox: rgba(0, 0, 0, 0.5);
    --bg-sendmessage: rgba(0, 0, 0, 0.65);
    --bg-members: rgba(0, 0, 0, 0.65);
    --bg-chat-elements: rgba(0, 0, 0, 0.5);
    --bg-colorprofile: rgba(0, 0, 0, 0.5);

    /* SERVER SETTINGS */
    --ServerSize: 45px;
    --ServerColumns: 1;
    --ServerSpacing: 5px 0px 0px 5px;
    --ServerPills: var(--Primary);

    /* ROUNDING */
    --Rounding: 5px;
    --StatusRounding: 4.5;
}