@keyframes EMB_BG {
	0% {
        background-image: var(--background);
    }

    11% {
       background-image: var(--EMB_1);
    }

    22% {
       background-image: var(--EMB_2);
    }

    33% {
       background-image: var(--EMB_3);
    }

    44% {
       background-image: var(--EMB_4);
    }

    55% {
       background-image: var(--EMB_5);
    }

    66% {
       background-image: var(--EMB_6);
    }

    77% {
       background-image: var(--EMB_7);
    }

    88% {
       background-image: var(--EMB_8);
    }

    99% {
       background-image: var(--EMB_9);
    }

    to {
        background-image: var(--background);
    }
}


#app-mount .container__a2f514,
#app-mount.appMount__51fd7 {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 10)  linear(0 0%, 0 100%) infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 10)  linear(0 0%, 0 100%) infinite !important;
}