@keyframes EMB_BG {
	0% {
		background-image: var(--background);
	}

	50% {
		background-image: var(--EMB_1);
	}

	to {
		background-image: var(--background);
	}
}

#app-mount .a2f5142ba8328dfd-container,
#app-mount._51fd70792ee2e563-appMount {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 2)  linear(0 0%, 0 100%) infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 2)  linear(0 0%, 0 100%) infinite !important;
}