@keyframes EMB_BG {
	0% {
		background-image: var(--background);
	}

	50% {
		background-image: var(--EMB_1);
	}

	to {
		background-image: var(--background);
	}
}

#app-mount .container_a2f514,
#app-mount.appMount_51fd70 {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 2)  linear(0 0%, 0 100%) infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 2)  linear(0 0%, 0 100%) infinite !important;
}