@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreBackgrounds/EMB.css");

@keyframes EMB_BG {
	0% {
		background-image: var(--background);
	}

	50% {
		background-image: var(--EMB_1);
	}

	to {
		background-image: var(--background);
	}
}