@keyframes EMB_BG {
    0% {
		background-image: var(--background);
	}

	26% {
		background-image: var(--EMB_1);
	}

	52% {
		background-image: var(--EMB_2);
	}

	78% {
		background-image: var(--EMB_3);
	}

	to {
		background-image: var(--background);
	}
}


#app-mount .a2f5142ba8328dfd-container,
#app-mount._51fd70792ee2e563-appMount {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 4)  linear(0 0%, 0 100%) infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 4)  linear(0 0%, 0 100%) infinite !important;
}