@keyframes EMB_BG {
    0% {
		background-image: var(--background);
	}

	21% {
		background-image: var(--EMB_1);
	}

	42% {
		background-image: var(--EMB_2);
	}

	63% {
		background-image: var(--EMB_3);
	}

	84% {
		background-image: var(--EMB_4);
	}

	to {
		background-image: var(--background);
	}
}


#app-mount .container_a2f514,
#app-mount.appMount__51fd7 {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 5)  linear(0 0%, 0 100%) infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 5)  linear(0 0%, 0 100%) infinite !important;
}