@keyframes EMB_BG {
    0% {
        background-image: var(--background);
    }

    18% {
        background-image: var(--EMB_1);
    }

    35% {
        background-image: var(--EMB_2);
    }

    53% {
        background-image: var(--EMB_3);
    }

    71% {
        background-image: var(--EMB_4);
    }

    88% {
        background-image: var(--EMB_5);
    }

    to {
        background-image: var(--background);
    }
}


#app-mount .container_a2f514,
#app-mount.appMount__51fd7 {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 6) linear infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 6) linear infinite !important;
}