@keyframes EMB_BG {
    0% {
        background-image: var(--background);
    }

    18% {
        background-image: var(--EMB_1);
    }

    35% {
        background-image: var(--EMB_2);
    }

    53% {
        background-image: var(--EMB_3);
    }

    71% {
        background-image: var(--EMB_4);
    }

    88% {
        background-image: var(--EMB_5);
    }

    to {
        background-image: var(--background);
    }
}


#app-mount .a2f5142ba8328dfd-container,
#app-mount._51fd70792ee2e563-appMount {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 6)  linear(0 0%, 0 100%) infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 6)  linear(0 0%, 0 100%) infinite !important;
}