@keyframes EMB_BG {
	0% {
        background-image: var(--background);
    }

    15% {
        background-image: var(--EMB_1);
    }

    31% {
        background-image: var(--EMB_2);
    }

    46% {
        background-image: var(--EMB_3);
    }

    61% {
        background-image: var(--EMB_4);
    }

    76% {
       background-image: var(--EMB_5);
    }

    92% {
        background-image: var(--EMB_6);
    }

    to {
        background-image: var(--background);
    }
}


#app-mount .container_a2f514,
#app-mount.appMount_51fd70 {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 7)  linear(0 0%, 0 100%) infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 7)  linear(0 0%, 0 100%) infinite !important;
}