@keyframes EMB_BG {
	0% {
        background-image: var(--background);
    }

    14% {
       background-image: var(--EMB_1);
    }

    27% {
       background-image: var(--EMB_2);
    }

    41% {
       background-image: var(--EMB_3);
    }

    54% {
       background-image: var(--EMB_4);
    }

    68% {
       background-image: var(--EMB_5);
    }

    81% {
       background-image: var(--EMB_6);
    }

    95% {
       background-image: var(--EMB_7);
    }

    to {
        background-image: var(--background);
    }
}


#app-mount .container_a2f514,
#app-mount.appMount__51fd7 {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 8)  linear(0 0%, 0 100%) infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 8)  linear(0 0%, 0 100%) infinite !important;
}