@keyframes EMB_BG {
	0% {
    	background-image: var(--background);
    }

    12% {
       background-image: var(--EMB_1);
    }

    24% {
       background-image: var(--EMB_2);
    }

    36% {
       background-image: var(--EMB_3);
    }

    48% {
       background-image: var(--EMB_4);
    }

    61% {
       background-image: var(--EMB_5);
    }

    73% {
       background-image: var(--EMB_6);
    }

    85% {
       background-image: var(--EMB_7);
    }

    97% {
       background-image: var(--EMB_8);
    }

    to {
        background-image: var(--background);
    }
}

#app-mount .a2f5142ba8328dfd-container,
#app-mount._51fd70792ee2e563-appMount {
    background: center / cover no-repeat var(--background);
    animation: EMB_BG calc(var(--BackgroundTime) * 9)  linear(0 0%, 0 100%) infinite !important;
	-webkit-animation: EMB_BG calc(var(--BackgroundTime) * 9)  linear(0 0%, 0 100%) infinite !important;
}