/**
* @name WizardUI Midnight Hunt
* @author NEBULYS
* @authorLink https://github.com/GoldenLys
* @version 1.5
* @invite SBuYeHh
* @description An amazing fully customizable theme, made with 💖 by NEBULYS.
* @website https://nebulys.eu/
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://goldenlys.github.io/WizardUI/base.css");
@import url("https://goldenlys.github.io/WizardUI/addons/PurpleServerList.css");
@import url("https://goldenlys.github.io/WizardUI/addons/AlternateFoldersInPSL.css");
@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors/1.css");

:root {
    /* MAIN VARIABLES */
    --Watermark: "- WizardUI v" var(--version);
    --font: 'Source Sans Pro', 'emoji', sans-serif;
    --Text: rgb(255, 255, 255);
    --logo: url(https://goldenlys.github.io/WizardUI/images/home.png);
    --sendmessage-text-lines: 6;

    /* THEME COLORS */
    --Primary: #7562c9;
    --text-link: var(--Primary);
    --text-shadow: rgb(0 0 0);
    --Highlighted: var(--Primary);
    --MessageHover: var(--grey5);
    --Unread: rgb(194, 18, 18);
    --Hover: #24283d;

    /* STATUS VARIABLES */
    --Online: #8AFF80;
    --Idle: #99FFEE;
    --Unavailable: #FF9580;
    --Offline: rgb(90, 95, 100);
    --Streaming: #AA99FF;

    /* BACKGROUNDS */
    --background: #0b0d0f;
    --bg-titlebar: #0b0d0f;
    --bg-servers: #131a20;
    --bg-sendmessage: #0a0d10;
    --bg-ui: #0a0d10;
    --bg-chatbox: #0b0d0f;
    --bg-members: var(--bg-ui);
    --bg-chat-elements: #131a20;
    --bg-settings: var(--bg-ui);
    --bg-colorprofile: rgb(29 30 38 / 50%);
    --bg-alt-message: transparent;

    /* UI COLOR VARIABLES */
    --grey: rgb(64, 88, 108);
    --grey5: rgb(64 88 108 / 75%);
    --darkgrey: rgb(33, 46, 56);
    --darkgrey5: rgb(33 46 56 / 75%);
    --ui-success: rgb(129, 248, 100);
    --ui-warning: rgb(245, 181, 64);
    --ui-error: rgb(241, 69, 69);

    /* SERVER SETTINGS */
    --ServerSize: 50px;
    --ServerPills: var(--Primary);
    --ServerFoldersColor: var(--Primary);
    
    /* ROUNDING */
    --Rounding: 5px;
    --AvatarRounding: var(--Rounding);

    /* RGB ADDON */
    --ColorTime: 5s;
    --Color2: rgb(0 0 0);
    --Color3: rgb(0 0 0);
    --Color4: rgb(0 0 0);
    --Color5: rgb(0 0 0);
    --Color6: rgb(0 0 0);
    --Color7: rgb(0 0 0);
    --Color8: rgb(0 0 0);
    --Color9: rgb(0 0 0);
    --Color10: rgb(0 0 0);

    /* 
        SHOWN BUTTONS IN THE MESSSAGE BOX

      Choose between 'none' or 'flex'
      none will disable / hide the button and flex will make it appear again
    
    */
    --Show_Gift_Button: none;
    --Show_GIF_Button: none; 
    --Show_Sticker_Button: none; 
    --Show_Apps_Button: none;
}