/**
* @name WizardUI - Pro Edition
* @author NEBULYS
* @authorLink https://github.com/GoldenLys
* @version 1.5
* @invite SBuYeHh
* @description An amazing fully customizable theme, made with 💖 by NEBULYS.
* @website https://nebulys.eu/
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://goldenlys.github.io/WizardUI/base.css");
@import url("https://goldenlys.github.io/WizardUI/addons/PurpleServerList.css");
@import url("https://goldenlys.github.io/WizardUI/addons/AlternateFoldersInPSL.css");
@import url("https://goldenlys.github.io/WizardUI/addons/HoverMembers.css");
@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors/2.css");

:root {
    /* MAIN VARIABLES */
    --Watermark: "- WizardUI Pro Edition";
    --font: 'Source Sans Pro', 'emoji', sans-serif;
    --Text: #F8F8F2;
    --logo: url(https://goldenlys.github.io/WizardUI/images/logos/2.png);
    --sendmessage-text-lines: 8;

    /* THEME COLORS */
    --Primary: rgb(149, 128, 255);
    --text-link: var(--Primary);
    --text-shadow: rgb(0 0 0);
    --Highlighted: var(--Primary);
    --MessageHover: var(--grey5);
    --Unread: rgb(173 16 16);
    --Hover: rgb(255 255 255 / 15%);

    /* STATUS VARIABLES */
    --Online: #8AFF80;
    --Idle: #99FFEE;
    --Unavailable: #FF9580;
    --Offline: rgb(90, 95, 100);
    --Streaming: #AA99FF;

    /* BACKGROUNDS */
    --background: #22212C;
    --bg-titlebar: #1d1e26;
    --bg-servers: #1d1e26;
    --bg-ui: #1d1e26;
    --bg-chatbox: #2a2c37;
    --bg-sendmessage: var(--darkgrey5);
    --bg-members: var(--bg-ui);;
    --bg-chat-elements: var(--grey5);
    --bg-settings: var(--bg-ui);
    --bg-colorprofile: rgb(29 30 38 / 50%);
    --bg-alt-message: transparent;

    /* UI COLOR VARIABLES */
    --grey: rgb(80 76 103);
    --grey5: rgb(80 76 103 / 75%);
    --darkgrey: rgb(34 33 44);
    --darkgrey5: rgb(34 33 44 / 75%);
    --ui-success: rgb(69, 208, 34);
    --ui-warning: rgb(238, 165, 30);
    --ui-error: rgb(208, 34, 34);

    /* SERVER SETTINGS */
    --ServerSize: 45px;
    --ServerPills: var(--Primary);
    --ServerFoldersColor: var(--Primary);
    
    /* ROUNDING */
    --Rounding: 5px;
    --AvatarRounding: var(--Rounding);

    /* RGB ADDON */
    --ColorTime: 5s;
    --Color2: rgb(0, 225, 255);
    --Color3: rgb(0 0 0);
    --Color4: rgb(0 0 0);
    --Color5: rgb(0 0 0);
    --Color6: rgb(0 0 0);
    --Color7: rgb(0 0 0);
    --Color8: rgb(0 0 0);
    --Color9: rgb(0 0 0);
    --Color10: rgb(0 0 0);
           
    /* 
        SHOWN BUTTONS IN THE MESSSAGE BOX

      Choose between 'none' or 'flex'
      none will disable / hide the button and flex will make it appear again
    
    */
    --Show_Gift_Button: none;
    --Show_GIF_Button: none; 
    --Show_Sticker_Button: none; 
    --Show_Apps_Button: flex;
}