/**
* @name WizardUI Grand Theft Auto VI
* @author NEBULYS
* @authorLink https://github.com/GoldenLys
* @version 1.3
* @invite SBuYeHh
* @description An amazing fully customizable theme, made with 💖 by NEBULYS.
* @website https://nebulys.eu/
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* 
    Marianne.css

  This is an addon that adds the Marianne font, you need to change the font variable below to 'Marianne' to see it.

@import url("https://goldenlys.github.io/WizardUI/addons/Marianne.css"); 
*/

@import url("https://goldenlys.github.io/WizardUI/base.css");

/* 
    PurpleServerList.css

  This is an addon that moves the servers to the top with an horizontal width.

*/
@import url("https://goldenlys.github.io/WizardUI/addons/PurpleServerList.css");

/* 
    LettersInPSL.css
    -  requires: PurpleServerList

  This is a modification for PurpleServerList which replaces the folders icons with letters.

@import url("https://goldenlys.github.io/WizardUI/addons/LettersInPSL.css"); 
*/

/* 
    AlternateFoldersInPSL.css 
    - requires: PurpleServerList, LettersInPSL (optionnal)

  This addon modifies the view of closed folders in PurpleServerList, to make it show the folder icon at the top
  and the first and second server inside that folder, this is also compatible with the LettersInPSL addon.

*/
@import url("https://goldenlys.github.io/WizardUI/addons/AlternateFoldersInPSL.css");

/* 
    HoverMembers.css

  This is an addon that makes the members list hidden until you hover it.

--
@import url("https://goldenlys.github.io/WizardUI/addons/HoverMembers.css");
*/

/* 
    UserIsTyping.css

  This is an addon that moves the "user is typing" text to the bottom of the app, like the default discord.

@import url("https://goldenlys.github.io/WizardUI/addons/UserIsTyping.css"); 
*/

/* 
    EvenMoreColors/[number from 1 to 10].css

  This is an addon that recolors alot of elements in the app with the main theme color but you can even add an RGB animated effect if you change the number before the ".css" (with a maximum of 10 colors).

*/
@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors/3.css");

:root {
    /* MAIN VARIABLES */
    --Watermark: "- Grand Theft Auto VI | WizardUI v" var(--version);
    --font: "Open Sans", "emoji", sans-serif;
    --Text: rgb(255, 255, 255);
    --logo: url(https://goldenlys.github.io/WizardUI/images/logos/29.png);
    --sendmessage-text-lines: 6;

    /* THEME COLORS */
    --Primary: #ffb0c4;
    --text-link: var(--Primary);
    --Highlighted: var(--Primary);
    --MessageHover: var(--grey5);
    --Unread: rgb(194, 18, 18);
    --Hover: rgba(255, 255, 255, 0.05);

    /* STATUS VARIABLES */
    --Online: #8AFF80;
    --Idle: #99FFEE;
    --Unavailable: #FF9580;
    --Offline: rgb(90, 95, 100);
    --Streaming: #AA99FF;

    /* BACKGROUNDS */
    --background: url(https://goldenlys.github.io/WizardUI/images/backgrounds/gta6.jpg);
    --bg-titlebar: linear-gradient(233deg, #237287 23.91%, #246C84 33.21%, #265F7C 42.51%, #274F72 51.8%, #284367 61.1%, #283A5F 70.4%, #28375C 79.7%);;
    --bg-servers: linear-gradient(53deg, #237287 23.91%, #246C84 33.21%, #265F7C 42.51%, #274F72 51.8%, #284367 61.1%, #283A5F 70.4%, #28375C 79.7%);;
    --bg-sendmessage: transparent;
    --bg-ui: rgb(40 55 92 / 80%);
    --bg-chatbox: #4d006327;
    --bg-members: var(--bg-ui);
    --bg-chat-elements: rgba(40, 55, 92, 0.65);
    --bg-settings: var(--bg-ui);
    --bg-colorprofile: rgb(29 30 38 / 50%);
    --bg-alt-message: transparent;

    /* UI COLOR VARIABLES */
    --grey: rgb(94, 64, 108);
    --grey5: rgb(94 64 108 / 75%);
    --darkgrey: rgb(49, 33, 56);
    --darkgrey5: rgb(49 33 56 / 75%);
    --ui-success: rgb(129, 248, 100);
    --ui-warning: rgb(245, 181, 64);
    --ui-error: rgb(241, 69, 69);

    /* SERVER SETTINGS */
    --ServerSize: 50px;
    --ServerPills: var(--Primary);
    --ServerFoldersColor: var(--Primary);
    
    /* ROUNDING */
    --Rounding: 5px;
    --AvatarRounding: var(--Rounding);

    /* RGB ADDON */
    --ColorTime: 5s;
    --Color2: rgb(145 223 236);
    --Color3: #ffed95;
    --Color4: rgb(0 0 0);
    --Color5: rgb(0 0 0);
    --Color6: rgb(0 0 0);
    --Color7: rgb(0 0 0);
    --Color8: rgb(0 0 0);
    --Color9: rgb(0 0 0);
    --Color10: rgb(0 0 0);

    /* 
        SHOWN BUTTONS IN THE MESSSAGE BOX

      Choose between 'none' or 'flex'
      none will disable / hide the button and flex will make it appear again
    
    */
    --Show_Gift_Button: none;
    --Show_GIF_Button: none; 
    --Show_Sticker_Button: none; 
    --Show_Apps_Button: none;
}

.panels_c48ade>.container__37e49 {
  background-color: transparent;
}

#my-account-tab>.settingsPage_f131e9>h3:before {
  content: 'Grand Theft Auto IV is Coming May 26 2026, mark your calendars!';
}