/**
* @name WizardUI Grand Theft Auto VI
* @author NEBULYS
* @authorLink https://github.com/GoldenLys
* @version 1.5
* @invite SBuYeHh
* @description An amazing fully customizable theme, made with 💖 by NEBULYS.
* @website https://nebulys.eu/
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300.800;1,300.800&display=swap");
@import url("https://goldenlys.github.io/WizardUI/base.css");
@import url("https://goldenlys.github.io/WizardUI/addons/PurpleServerList.css");
@import url("https://goldenlys.github.io/WizardUI/addons/EvenMoreColors/3.css");

:root {
    /* MAIN VARIABLES */
    --Watermark: "- Grand Theft Auto VI | WizardUI v" var(--version);
    --font: "Open Sans", "emoji", sans-serif;
    --Text: rgb(255, 255, 255);
    --logo: url(https://goldenlys.github.io/WizardUI/images/logos/29.png);
    --sendmessage-text-lines: 6;

    /* THEME COLORS */
    --Primary: #ffb0c4;
    --text-link: var(--Primary);
    --text-shadow: #000000;
    --Highlighted: var(--Primary);
    --MessageHover: var(--grey5);
    --Unread: rgb(194, 18, 18);
    --Hover: rgb(40 55 92 / 25%);

    /* STATUS VARIABLES */
    --Online: #8AFF80;
    --Idle: #99FFEE;
    --Unavailable: #FF9580;
    --Offline: rgb(90, 95, 100);
    --Streaming: #AA99FF;

    /* BACKGROUNDS */
    --background: url(https://goldenlys.github.io/WizardUI/images/backgrounds/gta6.jpg);
    --bg-titlebar: linear-gradient(233deg, #237287 23.91%, #246C84 33.21%, #265F7C 42.51%, #274F72 51.8%, #284367 61.1%, #283A5F 70.4%, #28375C 79.7%);;
    --bg-servers: linear-gradient(53deg, #237287 23.91%, #246C84 33.21%, #265F7C 42.51%, #274F72 51.8%, #284367 61.1%, #283A5F 70.4%, #28375C 79.7%);;
    --bg-sendmessage: transparent;
    --bg-ui: rgb(40 55 92 / 80%);
    --bg-chatbox: rgb(40 55 92 / 35%);
    --bg-members: var(--bg-ui);
    --bg-chat-elements: rgba(40, 55, 92, 0.65);
    --bg-settings: var(--bg-ui);
    --bg-colorprofile: rgb(29 30 38 / 50%);
    --bg-alt-message: transparent;
    --bg-user-area: transparent;

    /* UI COLOR VARIABLES */
    --grey: rgb(94, 64, 108);
    --grey5: rgb(94 64 108 / 75%);
    --darkgrey: rgb(49, 33, 56);
    --darkgrey5: rgb(49 33 56 / 75%);
    --ui-success: rgb(129, 248, 100);
    --ui-warning: rgb(245, 181, 64);
    --ui-error: rgb(241, 69, 69);

    /* SERVER SETTINGS */
    --ServerSize: 50px;
    --ServerPills: var(--Primary);
    --ServerFoldersColor: var(--Primary);
    
    /* ROUNDING */
    --Rounding: 5px;
    --AvatarRounding: var(--Rounding);

    /* RGB ADDON */
    --ColorTime: 5s;
    --Color2: rgb(145 223 236);
    --Color3: #ffed95;
    --Color4: rgb(0 0 0);
    --Color5: rgb(0 0 0);
    --Color6: rgb(0 0 0);
    --Color7: rgb(0 0 0);
    --Color8: rgb(0 0 0);
    --Color9: rgb(0 0 0);
    --Color10: rgb(0 0 0);

    /* 
        SHOWN BUTTONS IN THE MESSSAGE BOX

      Choose between 'none' or 'flex'
      none will disable / hide the button and flex will make it appear again
    
    */
    --Show_Gift_Button: none;
    --Show_GIF_Button: none; 
    --Show_Sticker_Button: none; 
    --Show_Apps_Button: none;
}

#my-account-tab>.settingsPage_f131e9>h3:before {
  content: 'Grand Theft Auto IV is Coming May 26 2026, mark your calendars!';
}

.guilds_c48ade .tutorialContainer__1f388 > div[class^=listItem_] > div[class^=listItemWrapper_] > div {
  background-color: var(--Primary);
  animation: RGB_BG var(--ColorTime) linear infinite !important;
	-webkit-animation: RGB_BG var(--ColorTime) linear infinite !important;
  background-image: none;
  -webkit-mask: var(--logo) no-repeat center / contain;
  mask: var(--logo) no-repeat center / contain;
}