.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderPreviewWrapper:before {
    content: "";
    display: none;
}

._48112cbe77dc5022-folderPreview {
    gap: 0.25rem;
}