@font-face {
    font-family: 'Aurebesh';
    src: url('../fonts/Aurebesh.woff2') format('opentype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Aurebesh';
    src: url('../fonts/Aurebesh.woff2') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Aurebesh';
    src: url('../fonts/Aurebesh.woff2') format('opentype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Aurebesh Target';
    src: url('../fonts/StayOnTarget-Regular.ttf') format('opentype');
    font-weight: normal;
}