/* ROLE NAME */
.visual-refresh .membersGroup_c8ffbb {
    height: 0;
    padding: 0;
    transition: all 250ms ease, padding 100ms ease;
    -webkit-transition: all 250ms ease, padding 100ms ease;
}

.visual-refresh .chat_f75fb0>.content_f75fb0>.membersWrap_c8ffbb .membersGroup_c8ffbb,
.visual-refresh .chat_f75fb0 .container_c8ffbb .membersGroup_c8ffbb {
    opacity: 0;
    transition: all 2s ease;
    text-align: center;
}

.visual-refresh .chat_f75fb0>.content_f75fb0>.membersWrap_c8ffbb:hover .membersGroup_c8ffbb,
.visual-refresh .chat_f75fb0 .container_c8ffbb .membersWrap_c8ffbb:hover .membersGroup_c8ffbb {
    transition: all 2s ease;
    opacity: 1;
    height: 26px;
    padding: 10px 5px 0 5px;
}

/* MOVING THE MEMBERS LIST TO THE RIGHT */
.visual-refresh .chat_f75fb0>.content_f75fb0>.membersWrap_c8ffbb,
.visual-refresh .chat_f75fb0 .container_c8ffbb {
    width: 60px;
    transition: all 500ms ease;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    -webkit-transition: all 500ms ease;
    justify-content: flex-start;
}

.visual-refresh .chat_f75fb0>.content_f75fb0>.membersWrap_c8ffbb:hover,
.visual-refresh .chat_f75fb0 .container_c8ffbb:hover {
    width: 265px;
}

/* MEMBERS LIST CONTENT */
.visual-refresh .chat_f75fb0 .container_c8ffbb .members_c8ffbb {
    width: 265px;
    overflow: hidden;
    flex: 0 1 auto;
}

.visual-refresh .chat_f75fb0>.content_f75fb0>.membersWrap_c8ffbb:hover,
.visual-refresh .chat_f75fb0 .container_c8ffbb .membersWrap_c8ffbb:hover {
    overflow: auto;
}

/* MOVING USER DETAILS */
.visual-refresh .chat_f75fb0 .container_c8ffbb .members_c8ffbb .member_c8ffbb .content_91a9d7 {
    -webkit-transform: translateX(220px);
    transform: translateX(220px);
    transition: all 750ms ease;
    -webkit-transition: all 750ms ease;
}

.visual-refresh .chat_f75fb0 .container_c8ffbb:hover .members_c8ffbb .member_c8ffbb .content_91a9d7 {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}