/* ROLE NAME */
.visual-refresh .c8ffbb79449f399c-membersGroup {
    height: 0;
    padding: 0;
    transition: all 250ms ease, padding 100ms ease;
    -webkit-transition: all 250ms ease, padding 100ms ease;
}

.visual-refresh .f75fb00fb7356cbe-chat>.f75fb00fb7356cbe-content>.c8ffbb79449f399c-membersWrap .c8ffbb79449f399c-membersGroup,
.visual-refresh .f75fb00fb7356cbe-chat .c8ffbb79449f399c-container .c8ffbb79449f399c-membersGroup {
    opacity: 0;
    transition: all 2s ease;
    text-align: center;
}

.visual-refresh .f75fb00fb7356cbe-chat>.f75fb00fb7356cbe-content>.c8ffbb79449f399c-membersWrap:hover .c8ffbb79449f399c-membersGroup,
.visual-refresh .f75fb00fb7356cbe-chat .c8ffbb79449f399c-container .c8ffbb79449f399c-membersWrap:hover .c8ffbb79449f399c-membersGroup {
    transition: all 2s ease;
    opacity: 1;
    height: 26px;
    padding: 10px 5px 0 5px;
}

/* MOVING THE MEMBERS LIST TO THE RIGHT */
.visual-refresh .f75fb00fb7356cbe-chat>.f75fb00fb7356cbe-content>.c8ffbb79449f399c-membersWrap,
.visual-refresh .f75fb00fb7356cbe-chat .c8ffbb79449f399c-container {
    width: 60px;
    transition: all 500ms ease;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    -webkit-transition: all 500ms ease;
    justify-content: flex-start;
}

.visual-refresh .f75fb00fb7356cbe-chat>.f75fb00fb7356cbe-content>.c8ffbb79449f399c-membersWrap:hover,
.visual-refresh .f75fb00fb7356cbe-chat .c8ffbb79449f399c-container:hover {
    width: 265px;
}

/* MEMBERS LIST CONTENT */
.visual-refresh .f75fb00fb7356cbe-chat .c8ffbb79449f399c-container .c8ffbb79449f399c-members {
    width: 265px;
    overflow: hidden;
    flex: 0 1 auto;
}

.visual-refresh .f75fb00fb7356cbe-chat>.f75fb00fb7356cbe-content>.c8ffbb79449f399c-membersWrap:hover,
.visual-refresh .f75fb00fb7356cbe-chat .c8ffbb79449f399c-container .c8ffbb79449f399c-membersWrap:hover {
    overflow: auto;
}

/* MOVING USER DETAILS */
.visual-refresh .f75fb00fb7356cbe-chat .c8ffbb79449f399c-container .c8ffbb79449f399c-members .c8ffbb79449f399c-member ._91a9d7f7e5248a56-content {
    -webkit-transform: translateX(220px);
    transform: translateX(220px);
    transition: all 750ms ease;
    -webkit-transition: all 750ms ease;
}

.visual-refresh .f75fb00fb7356cbe-chat .c8ffbb79449f399c-container:hover .c8ffbb79449f399c-members .c8ffbb79449f399c-member ._91a9d7f7e5248a56-content {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}