@font-face {
    font-family: 'Marianne-bold';
    src: url('../fonts/marianne-bold-webfont.woff2') format('woff2'),
        url('../fonts/marianne-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne-regular-webfont.woff2') format('woff2'),
        url('../fonts/marianne-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}