@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-ExtraBold.otf') format('opentype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-ExtraBold.otf') format('opentype');
    font-weight: 950;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-ExtraBold.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Bold.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Bold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Bold.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Light.otf') format('opentype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Light.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-Thin.otf') format('opentype');
    font-weight: 100;
}