@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft-Regular.otf') format('opentype');
    font-weight: normal;
}
