.twoColorGradient_e5de78 {
    background: transparent;
}

.threeColorGradient_e5de78 {
    background: transparent;
}

.usernameGradient_e5de78 {
    -webkit-background-clip: initial;
    background-clip: initial; 
    background-size: initial;
    -webkit-text-fill-color: var(--custom-gradient-color-1);
}