#app-mount .app-3xd6d0 .base-2jDfDU {
    top: calc(var(--ServerSize) + 15px) !important;
    position: absolute !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

#app-mount .guilds-2JjMmN {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 100vw !important;
    width: calc(var(--ServerSize) + 15px);
    top: calc(var(--ServerSize) + 15px);
    bottom: unset;
    position: absolute !important;
    left: 0;
    flex-wrap: wrap;
    place-content: center;
}

.scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
}

#app-mount .guilds-2JjMmN .scrollerBase-1Pkza4 {
    padding: var(--ServerSpacing) 0 !important;
    display: flex;
    flex-direction: column;
    gap: var(--ServerSpacing);
    flex-wrap: nowrap;
    align-items: center;
    width: calc(var(--ServerSize) + 15px);
}

#app-mount .guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper]) {
    transform: rotate(90deg);
    position: unset;
    width: var(--ServerSize);
}

#app-mount .wrapper-38slSD {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#app-mount .guilds-2JjMmN .scrollerBase-1Pkza4>div[style]:not(.listItem-2P_4kh) {
    height: auto !important;
}

#app-mount [class*="guildSeparator"] {
    transform: rotate(90deg);
    width: var(--ServerSize);
}

#app-mount .guilds-2JjMmN .target-1eRTCg::before {
    border-radius: 5px;
    top: 0;
    height: var(--ServerSize);
    width: 4px;
    left: -3px;
}

#app-mount .guilds-2JjMmN svg.placeholderMask-2FHNZU>foreignObject {
    mask: none;
}

.dragInner-1CUBf_ {
    width: var(--ServerSize);
    height: var(--ServerSize);
    border-radius: var(--Rounding);
}

#app-mount .guilds-2JjMmN.hidden-10MsGQ+.base-2jDfDU {
    top: 0 !important;
}

#app-mount [class*="expandedFolderBackground"] {
    width: var(--ServerSize);
    left: 7.5px;
    height: calc(100% - 3px);
    top: 4.5px
}

#app-mount .guilds-2JjMmN .scroller-3X7KbA>div:not([class]):not([style])>.wrapper-38slSD [class^=expandedFolderBackground]:not(.collapsed-uGXEbi)+.listItem-3SmSlK+ul {
    height: auto !important;
}

#app-mount [class*="pill-"]:not(.pill-3pRQlO):not(.pillOnline-345ee0):not([class*=pillMessage-]) {
    transform: rotate(90deg) translateY(-50%);
    height: var(--ServerSize);
    width: 5px;
    top: calc(var(--ServerSize) / -1 + var(--ServerSize) / 2 - 5px) !important;
    left: -2px;
}

#app-mount [class*="pill-"]:not(.pill-3pRQlO):not(.pillOnline-345ee0):not([class*=pillMessage-])>span {
    width: 5px;
}

#app-mount .pillMessage-3pHz6R {
    width: 100% !important;
}

#app-mount .guilds-2JjMmN .scroller-3X7KbA>div[style*="opacity: 1;"]:not(:first-child)>.listItem-3SmSlK {
    position: initial;
    width: var(--ServerSize);
    height: var(--ServerSize);
}

#app-mount .activityCount-2n5Mj9>.pill-qMtBTq.pillOnline-345ee0+.pill-qMtBTq {
    transform: none;
    width: auto;
    height: auto;
}

#app-mount .guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper])>.wrapper-3XVBev {
    width: var(--ServerSize);
    height: var(--ServerSize);
    top: 0px;
    bottom: 0px;
}

#app-mount .guilds-2JjMmN .wrapper-38slSD ul>[class*=listItem]:not([class*=listItemWrapper]) {
    margin: 0;
}