.platform-osx .wrapper_ef3116 {
    margin-top: 0px;
}

#app-mount .app_a3002d .base__5e434 .content__5e434 {
    padding-top: calc(var(--ServerSize) + 20px) !important;
    position: relative;
}

#app-mount .guilds__5e434 {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 100vw !important;
    width: calc(var(--ServerSize) + 20px);
    top: calc(var(--ServerSize) + 20px + 32px);
    bottom: unset;
    position: fixed !important;
    left: 0;
    flex-wrap: wrap;
    place-content: center;
}

.scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
}

#app-mount .guilds__5e434 [class*=listItem]:not([class*=listItemWrapper]) {
    transform: rotate(90deg);
    position: unset;
    width: 100%;
    height: var(--ServerSize);
    overflow: visible;
}

#app-mount .guilds__5e434 .listItem__650eb {
    width: unset;
    margin: 0;
}


#app-mount .guilds__5e434 .tutorialContainer__650eb,
#app-mount .guilds__5e434 .tutorialContainer__650eb+.listItem__650eb {
    width: auto;
    place-content: center;
    flex-wrap: wrap;
    margin: 3px 0 6px 0;
}

#app-mount .guilds__5e434 .folderGroup__48112>.listItem__650eb {
    margin: 0px !important;
}

#app-mount .guilds__5e434 .tutorialContainer_1f388b+.listItem__650eb {
    transform: initial;
}

#app-mount .folderGroup__48112 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: visible;
}

#app-mount .folderGroup__48112:not(.isExpanded__48112) {
    height: var(--ServerSize);
}

#app-mount .folderHeader__48112 {
    height: var(--ServerSize);
    width: var(--ServerSize);
}

#app-mount .guilds__5e434 .scroller_ef3116 .stack_dbd263:not([id]) {
    width: calc(100% - 0px);
    flex: 1 1 auto;
    justify-content: center;
}

#app-mount [class*="guildSeparator"] {
    transform: rotate(90deg);
    width: var(--ServerSize);
}

#app-mount .wrapper_d144f8 {
    transform: rotate(-90deg) translateY(0%);
    top: -10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.folderGroup__48112[data-drop-hovering=true]:not(.isExpanded__48112) .folderHeader__48112 {
    border-radius: var(--Rounding);
}

#app-mount .guilds__5e434 .placeholderMask_878475,
#app-mount .guilds__5e434 .placeholderMask_878475>foreignObject {
    width: var(--ServerSize);
    height: var(--ServerSize);
}

#app-mount .guilds__5e434 .target_d144f8::before {
    position: absolute;
    border-radius: var(--Rounding);
    box-shadow: none;
    width: var(--ServerSize);
    height: 4px;
    top: -2px;
    left: 4px;
    right: 0;
}

#app-mount .guilds__5e434 .centerTarget_d144f8:before {
    position: absolute;
    border-radius: var(--Rounding);
    box-shadow: none;
    width: 4px;
    height: var(--ServerSize);
    top: 5px;
    left: initial;
    right: 9px;
}

.dragInner_878475 {
    border-radius: var(--Rounding);
    background-color: var(--Primary);
}

#app-mount .guilds__5e434.hidden_ef3116+.base__5e434 {
    top: 0 !important;
}

#app-mount .isExpanded__48112 .folderGroupBackground__48112 {
    background-color: var(--custom-folder-color);
    opacity: 0.6;
    border-radius: var(--Rounding);
    left: auto;
    height: calc(100% - 0px);
    width: var(--ServerSize);
    top: 0px;
    border: none;
}

#app-mount .guilds__5e434 .scroller_ef3116 {
    width: calc(var(--ServerSize) + 20px);
    height: 100% !important;
    display: flex;
    flex-direction: column;
    padding: 0 0 !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#app-mount .guilds__5e434 .scroller_ef3116>div#guild-list-unread-dms .listItem__650eb>.pill_ed9a5f,
#app-mount .guilds__5e434 .listItem__650eb .pill_e5445c,
#app-mount .pill_1f388b {
    transform: rotate(90deg) translateY(0%);
    height: var(--ServerSize);
    width: 10px;
    top: calc(var(--ServerSize) / -1 + var(--ServerSize) / 2 - 5px) !important;
    left: calc(50% - 5px);
    display: flex;
    justify-content: center;
}

#app-mount .guilds__5e434 div.stack_dbd263>.folderGroup__48112 .listItem__650eb .pill_e5445c {
    top: calc(var(--ServerSize) / -1 + var(--ServerSize) / 2 - 5px) !important;
}

#app-mount .guilds__5e434 .scroller_ef3116>div#guild-list-unread-dms .listItem__650eb>.pill_ed9a5f>span,
#app-mount .guilds__5e434 .listItem__650eb .pill_e5445c>span,
#app-mount .pill_1f388b>span {
    margin-left: 0;
    width: 5px;
    border-radius: 50%;
    height: 5px!important;
    box-shadow: 0px 0px 5px 1px currentColor;  
}

#app-mount .guilds__5e434 .listItem__650eb .pill_e5445c>span[style*="height: 8px;"] {
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px currentColor;  
}

#app-mount .guilds__5e434 .listItem__650eb .pill_e5445c>span:not([style*="height: 40px;"]) {
    height: calc(var(--ServerSize) * 0.5) !important;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px currentColor;  
}

#app-mount .pillMessage_dc6abe {
    width: 100% !important;
}

#app-mount .guilds__5e434 .scroller_ef3116>div[style*="opacity: 1;"]:not(:first-child)>.listItem__650eb {
    position: initial;
    width: var(--ServerSize);
    height: var(--ServerSize);
}

#app-mount .activityCount_fa285e>.pill_dc6abe.pillOnline_dc6abe+.pill_dc6abe {
    transform: none;
    width: auto;
    height: auto;
}

#app-mount .guilds__5e434 [class*=listItem]:not([class*=listItemWrapper])>.wrapper_6e9f8d {
    width: var(--ServerSize);
    height: var(--ServerSize);
    top: 0px;
    bottom: 0px;
}

#app-mount .guilds__5e434 .folderGroup__48112 ul>[class*=listItem]:not([class*=listItemWrapper]) {
    margin: 0;
}

#app-mount .guilds__5e434 .scroller_ef3116>div[style*="opacity: 1;"]:not(:first-child) {
    margin: 3px 0 3px 0;
}

#app-mount .guilds__5e434 .scroller_ef3116>div:not([class]):not([style]) {
    place-content: center;
    flex: 1 1 auto;
    margin: 6px 0px;
    border-radius: var(--Rounding);
}

.tree_ef3116 {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer__214dc {
    margin: 6px 0 6px 0;
    width: auto;
    padding: 0;
}

.unreadMentionsIndicatorBottom_ef3116 {
    overflow: visible;
}

.unreadMentionsBar_ef3116 {
    transform: rotate(90deg) translateY(0%) !important;
    left: calc(-50% + 0px);
    bottom: unset;
    width: var(--ServerSize);
    height: 16px;
    padding: 0;
    opacity: 1;
}

.unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116 {
    top: 16px;
}

.unreadMentionsIndicatorBottom_ef3116 .unreadMentionsBar_ef3116 {
    top: -6px;
}

.unreadMentionsIndicatorTop_ef3116,
.unreadMentionsIndicatorBottom_ef3116 {
    top: 0px;
    left: 4px;
    padding: 0;
    height: var(--ServerSize);
    width: var(--ServerSize);
    overflow: visible;
    margin: 6px 4px 6px 4px;
}

.unreadMentionsIndicatorBottom_ef3116 {
    top: unset;
    bottom: 0px;
}

.unreadMentionsIndicatorBottom_ef3116>.unreadMentionsBar_ef3116:not(.hidden_3b95d7)::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -4px;
    width: 8px;
    height: 16px;
    background-color: var(--Unread);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.unreadMentionsIndicatorTop_ef3116>.unreadMentionsBar_ef3116:not(.hidden_3b95d7)::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -6px;
    width: 8px;
    height: 16px;
    background-color: var(--Unread);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.visual-refresh .folderPreviewWrapper__48112 {
    width: 100%;
    height: 100%;
}

.visual-refresh .wrapper_cc5dd2[style="width: 48px; height: 48px;"] {
    width: var(--ServerSize) !important;
    height: var(--ServerSize) !important;
}

.folderGroup__48112.isExpanded__48112 .folderPreviewWrapper__48112 {
    margin-top: 6px;
}