.platform-osx .ef3116c2da186559-wrapper {
    margin-top: 0px;
}

#app-mount .a3002d7de5be5280-app ._5e434347c823b592-base ._5e434347c823b592-content {
    padding-top: calc(var(--ServerSize) + 20px) !important;
    position: relative;
}

#app-mount ._5e434347c823b592-guilds {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 100vw !important;
    width: calc(var(--ServerSize) + 20px);
    top: calc(var(--ServerSize) + 20px + 32px);
    bottom: unset;
    position: fixed !important;
    left: 0;
    flex-wrap: wrap;
    place-content: center;
}

.scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
}

#app-mount ._5e434347c823b592-guilds [class*=listItem]:not([class*=listItemWrapper]) {
    transform: rotate(90deg);
    position: unset;
    width: 100%;
    height: var(--ServerSize);
    overflow: visible;
}

#app-mount ._5e434347c823b592-guilds ._650eb104245d257b-listItem {
    width: unset;
    margin: 0;
}


#app-mount ._5e434347c823b592-guilds ._650eb104245d257b-tutorialContainer,
#app-mount ._5e434347c823b592-guilds ._650eb104245d257b-tutorialContainer+._650eb104245d257b-listItem {
    width: auto;
    place-content: center;
    flex-wrap: wrap;
    margin: 3px 0 6px 0;
}

#app-mount ._5e434347c823b592-guilds ._48112cbe77dc5022-folderGroup>._650eb104245d257b-listItem {
    margin: 0px !important;
}

#app-mount ._5e434347c823b592-guilds ._1f388bcaa446c0c8-tutorialContainer+._650eb104245d257b-listItem {
    transform: initial;
}

#app-mount ._48112cbe77dc5022-folderGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: visible;
}

#app-mount ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) {
    height: var(--ServerSize);
}

#app-mount  ._48112cbe77dc5022-folderHeader {
    height: var(--ServerSize);
    width: var(--ServerSize);
}

#app-mount ._5e434347c823b592-guilds .ef3116c2da186559-scroller .dbd2630aec71879b-stack:not([id]) {
    width: calc(100% - 0px);
    flex: 1 1 auto;
    justify-content: center;
}

#app-mount [class*="guildSeparator"] {
    transform: rotate(90deg);
    width: var(--ServerSize);
}

#app-mount .d144f8d4075c78d6-wrapper {
    transform: rotate(-90deg) translateY(0%);
    top: -10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

._48112cbe77dc5022-folderGroup[data-drop-hovering=true]:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader {
    border-radius: var(--Rounding);
}

#app-mount ._5e434347c823b592-guilds ._8784752aa3af335e-placeholderMask,
#app-mount ._5e434347c823b592-guilds ._8784752aa3af335e-placeholderMask>foreignObject {
    width: var(--ServerSize);
    height: var(--ServerSize);
}

#app-mount ._5e434347c823b592-guilds .d144f8d4075c78d6-target::before {
    position: absolute;
    border-radius: var(--Rounding);
    box-shadow: none;
    width: var(--ServerSize);
    height: 4px;
    top: -2px;
    left: 4px;
    right: 0;
}

#app-mount ._5e434347c823b592-guilds .d144f8d4075c78d6-centerTarget:before {
    position: absolute;
    border-radius: var(--Rounding);
    box-shadow: none;
    width: 4px;
    height: var(--ServerSize);
    top: 5px;
    left: initial;
    right: 9px;
}

._8784752aa3af335e-dragInner {
    border-radius: var(--Rounding);
    background-color: var(--Primary);
}

#app-mount ._5e434347c823b592-guilds.ef3116c2da186559-hidden+._5e434347c823b592-base {
    top: 0 !important;
}

#app-mount ._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderGroupBackground {
    background-color: var(--custom-folder-color);
    opacity: 0.6;
    border-radius: var(--Rounding);
    left: auto;
    height: calc(100% - 0px);
    width: var(--ServerSize);
    top: 0px;
    border: none;
}

#app-mount ._5e434347c823b592-guilds .ef3116c2da186559-scroller {
    width: calc(var(--ServerSize) + 20px);
    height: 100% !important;
    display: flex;
    flex-direction: column;
    padding: 0 0 !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#app-mount ._5e434347c823b592-guilds .ef3116c2da186559-scroller>div#guild-list-unread-dms ._650eb104245d257b-listItem>.ed9a5f50013e19ac-pill,
#app-mount ._5e434347c823b592-guilds ._650eb104245d257b-listItem .e5445cbd3ad226f2-pill,
#app-mount ._1f388bcaa446c0c8-pill {
    transform: rotate(90deg) translateY(0%);
    height: var(--ServerSize);
    width: 10px;
    top: calc(var(--ServerSize) / -1 + var(--ServerSize) / 2 - 5px) !important;
    left: calc(50% - 5px);
    display: flex;
    justify-content: center;
}

#app-mount ._5e434347c823b592-guilds div.dbd2630aec71879b-stack>._48112cbe77dc5022-folderGroup ._650eb104245d257b-listItem .e5445cbd3ad226f2-pill {
    top: calc(var(--ServerSize) / -1 + var(--ServerSize) / 2 - 5px) !important;
}

#app-mount ._5e434347c823b592-guilds .ef3116c2da186559-scroller>div#guild-list-unread-dms ._650eb104245d257b-listItem>.ed9a5f50013e19ac-pill>span,
#app-mount ._5e434347c823b592-guilds ._650eb104245d257b-listItem .e5445cbd3ad226f2-pill>span,
#app-mount ._1f388bcaa446c0c8-pill>span {
    margin-left: 0;
    width: 5px;
    border-radius: 50%;
    height: 5px!important;
    box-shadow: 0px 0px 5px 1px currentColor;  
}

#app-mount ._5e434347c823b592-guilds ._650eb104245d257b-listItem .e5445cbd3ad226f2-pill>span[style*="height: 8px;"] {
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px currentColor;  
}

#app-mount ._5e434347c823b592-guilds ._650eb104245d257b-listItem .e5445cbd3ad226f2-pill>span:not([style*="height: 40px;"]) {
    height: calc(var(--ServerSize) * 0.5) !important;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px currentColor;  
}

#app-mount .pillMessage_dc6abe {
    width: 100% !important;
}

#app-mount ._5e434347c823b592-guilds .ef3116c2da186559-scroller>div[style*="opacity: 1;"]:not(:first-child)>._650eb104245d257b-listItem {
    position: initial;
    width: var(--ServerSize);
    height: var(--ServerSize);
}

#app-mount .fa285ee86b386220-activityCount>.pill_dc6abe.pillOnline_dc6abe+.pill_dc6abe {
    transform: none;
    width: auto;
    height: auto;
}

#app-mount ._5e434347c823b592-guilds [class*=listItem]:not([class*=listItemWrapper])>._6e9f8dce4cc18de3-wrapper {
    width: var(--ServerSize);
    height: var(--ServerSize);
    top: 0px;
    bottom: 0px;
}

#app-mount ._5e434347c823b592-guilds ._48112cbe77dc5022-folderGroup ul>[class*=listItem]:not([class*=listItemWrapper]) {
    margin: 0;
}

#app-mount ._5e434347c823b592-guilds .ef3116c2da186559-scroller>div[style*="opacity: 1;"]:not(:first-child) {
    margin: 3px 0 3px 0;
}

#app-mount ._5e434347c823b592-guilds .ef3116c2da186559-scroller>div:not([class]):not([style]) {
    place-content: center;
    flex: 1 1 auto;
    margin: 6px 0px;
    border-radius: var(--Rounding);
}

.ef3116c2da186559-tree {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer__214dc {
    margin: 6px 0 6px 0;
    width: auto;
    padding: 0;
}

.ef3116c2da186559-unreadMentionsIndicatorBottom {
    overflow: visible;
}

.ef3116c2da186559-unreadMentionsBar {
    transform: rotate(90deg) translateY(0%) !important;
    left: calc(-50% + 0px);
    bottom: unset;
    width: var(--ServerSize);
    height: 16px;
    padding: 0;
    opacity: 1;
}

.ef3116c2da186559-unreadMentionsIndicatorTop .ef3116c2da186559-unreadMentionsBar {
    top: 16px;
}

.ef3116c2da186559-unreadMentionsIndicatorBottom .ef3116c2da186559-unreadMentionsBar {
    top: -6px;
}

.ef3116c2da186559-unreadMentionsIndicatorTop,
.ef3116c2da186559-unreadMentionsIndicatorBottom {
    top: 0px;
    left: 4px;
    padding: 0;
    height: var(--ServerSize);
    width: var(--ServerSize);
    overflow: visible;
    margin: 6px 4px 6px 4px;
}

.ef3116c2da186559-unreadMentionsIndicatorBottom {
    top: unset;
    bottom: 0px;
}

.ef3116c2da186559-unreadMentionsIndicatorBottom>.ef3116c2da186559-unreadMentionsBar:not(._3b95d7d910416e54-hidden)::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -4px;
    width: 8px;
    height: 16px;
    background-color: var(--Unread);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.ef3116c2da186559-unreadMentionsIndicatorTop>.ef3116c2da186559-unreadMentionsBar:not(._3b95d7d910416e54-hidden)::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -6px;
    width: 8px;
    height: 16px;
    background-color: var(--Unread);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.visual-refresh ._48112cbe77dc5022-folderPreviewWrapper {
    width: 100%;
    height: 100%;
}

.visual-refresh .cc5dd25190031396-wrapper[style="width: 48px; height: 48px;"] {
    width: var(--ServerSize) !important;
    height: var(--ServerSize) !important;
}

._48112cbe77dc5022-folderGroup._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderPreviewWrapper {
    margin-top: 6px;
}