.platform-osx .wrapper_fea3ef {
    margin-top: 0px;
}

#app-mount .app_a01fb1 .base_a4d4d9 {
    top: calc(var(--ServerSize) + 18px) !important;
    position: absolute !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

#app-mount .guilds_a4d4d9 {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 100vw !important;
    width: calc(var(--ServerSize) + 18px);
    top: calc(var(--ServerSize) + 18px);
    bottom: unset;
    position: absolute !important;
    left: 0;
    flex-wrap: wrap;
    place-content: center;
}

.scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
}

#app-mount .guilds_a4d4d9 .scrollerBase_eed6a8{
    padding: 0 0 !important;
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex-wrap: nowrap;
    align-items: center;
    width: calc(var(--ServerSize) + 18px);
}

#app-mount .guilds_a4d4d9 [class*=listItem]:not([class*=listItemWrapper]) {
    transform: rotate(90deg);
    position: unset;
    width: var(--ServerSize);
}

#app-mount .guilds_a4d4d9 .listItem_c96c45 {
    width: unset;
    margin: 0;
}


#app-mount .guilds_a4d4d9 .tutorialContainer_c96c45,
#app-mount .guilds_a4d4d9 .tutorialContainer_c96c45+.listItem_c96c45 {
    width: auto;
    place-content: center;
    flex-wrap: wrap;
    margin: 3px 0 6px 0;
}

#app-mount .guilds_a4d4d9 .wrapper_bc7085>.listItem_c96c45 {
    margin: 0px !important;
}

#app-mount .guilds_a4d4d9 .tutorialContainer_f9623d+.listItem_c96c45 {
    transform: initial;
}

#app-mount .wrapper_bc7085 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: var(--ServerSize);
    margin: 3.5px 0px 3.5px 0px;
}

#app-mount .guilds_a4d4d9 .scrollerBase_eed6a8>div[style]:not(.listItem_c96c45) {
    height: auto !important;
}

#app-mount [class*="guildSeparator"] {
    transform: rotate(90deg);
    width: var(--ServerSize);
}

#app-mount .guilds_a4d4d9 .target_b7c66a::before {
    border-radius: var(--Rounding);
    top: 15px;
    height: var(--ServerSize);
    width: 4px;
    left: -3px;
}

#app-mount .guilds_a4d4d9 svg.placeholderMask_f734d8>foreignObject {
    mask: none;
}

.dragInner_f734d8 {
    width: var(--ServerSize);
    height: var(--ServerSize);
    border-radius: var(--Rounding);
}

#app-mount .guilds_a4d4d9.hidden_fea3ef+.base_a4d4d9 {
    top: 0 !important;
}

#app-mount .expandedFolderBackground_bc7085 {
    width: calc(var(--ServerSize) + 0px);
    left: 0px;
    height: calc(100% - 0px);
    top: 0px;
}

#app-mount .guilds_a4d4d9 .scroller_fea3ef,
#app-mount .guilds_a4d4d9 .scroller_fea3ef {
    width: calc(var(--ServerSize) + 18px);
    display: flex;
    flex-direction: column;
}

#app-mount .guilds_a4d4d9 .scroller_fea3ef>div:not([class]):not([style])>.wrapper_bc7085 .expandedFolderBackground_bc7085:not(.collapsed_bc7085)+.listItem_c96c45+ul {
    height: auto !important;
}

#app-mount [class*="pill_"]:not(.pill_c993da):not(.pill_f9575e):not(.pillOnline_dc6abe):not([class*=pillMessage_]) {
    transform: rotate(90deg) translateY(-50%);
    height: var(--ServerSize);
    width: 5px;
    top: calc(var(--ServerSize) / -1 + var(--ServerSize) / 2 - 5px) !important;
    left: -2px;
}

#app-mount [class*="pill_"]:not(.pill_c993da):not(.pillOnline_dc6abe):not([class*=pillMessage_])>span {
    width: 5px;
}

#app-mount .pillMessage_dc6abe {
    width: 100% !important;
}

#app-mount .guilds_a4d4d9 .scroller_fea3ef>div[style*="opacity: 1;"]:not(:first-child)>.listItem_c96c45 {
    position: initial;
    width: var(--ServerSize);
    height: var(--ServerSize);
}

#app-mount .activityCount_f9c402>.pill_dc6abe.pillOnline_dc6abe+.pill_dc6abe {
    transform: none;
    width: auto;
    height: auto;
}

#app-mount .guilds_a4d4d9 [class*=listItem]:not([class*=listItemWrapper])>.wrapper_c5f96a {
    width: var(--ServerSize);
    height: var(--ServerSize);
    top: 0px;
    bottom: 0px;
}

#app-mount .guilds_a4d4d9 .wrapper_bc7085 ul>[class*=listItem]:not([class*=listItemWrapper]) {
    margin: 0;
}

#app-mount .guilds_a4d4d9 .scroller_fea3ef>div[style*="opacity: 1;"]:not(:first-child) {
    margin: 3px 0 3px 0;
}

#app-mount .guilds_a4d4d9 .scroller_fea3ef>div:not([class]):not([style]) {
    place-content: center;
    flex: 1 1 auto;
    margin: 6px 0px;
    border-radius: var(--Rounding);
}

/* 2024-03_simplified_profile_phase_one bugfix */

#app-mount .pill_c83b44, #app-mount .pill_f9575e  {
    display: flex;
    transform: none !important;
    height: unset !important;
    width: unset !important;
    top: unset !important;
    left: unset !important;
}