#app-mount .buttons_bdf0de .buttonContainer_bdf0de>.button_dd4f85[aria-label~="GIF"]>div {
    display: var(--Show_GIF_Button);
}

#app-mount .buttons_bdf0de .buttonContainer_bdf0de>.button_dd4f85[aria-label~="GIF"] {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px; 
}

#app-mount .buttons_bdf0de .buttonContainer_bdf0de>.button_dd4f85[aria-label~="sticker"]>div {
    display: var(--Show_Sticker_Button);
}
