.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA0"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "0️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "1️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "2️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "3️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA4"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "4️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA5"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "5️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA6"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "6️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA7"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "7️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA8"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "8️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AA9"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "9️⃣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AB1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "👽";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AB2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💬";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AB3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🚀";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AB4"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🎮";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AB5"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🛠️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AB6"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🎨";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AB7"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🎼";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AB8"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "📹";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AB9"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "📚";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AC1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💻";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AC2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "📺";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AC3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🎓";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AC4"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🎙️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AC5"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🧰";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AC6"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "📈";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AC7"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💪";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AC8"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "✈️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AC9"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "❤️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AD1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💰";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AD2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🍔";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AD3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "⭐";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AD4"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "✅";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AD5"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "✨";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AD6"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🔮";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AD7"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🎉";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AD8"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🏆";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AD9"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🎁";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AE1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💋";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AE2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🫦";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AE3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🛒";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AE4"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🔥";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AE5"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💣";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AE6"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🔞";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AE7"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "📢";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AE8"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🎯";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AE9"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💡";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AF1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "📅";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AF2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💩";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AF3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🥵";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AF4"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🥶";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AF5"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🤖";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AF6"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🫪";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AF7"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🪎";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AF8"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🪐";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AF9"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🖥️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AG1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💯";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AG2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "☢️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AG3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "☠️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AG4"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🗡️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AG5"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🪩";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AG6"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🪵";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AG7"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🪄";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AG8"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🌑";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AG9"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🌕";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AH1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "☀️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AH2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "👁️‍🗨️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AH3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💦";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AH4"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🍀";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AH5"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💊";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AH6"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🛡️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AH7"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "⚔️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AH8"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🏹";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AH9"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "💎";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AI1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🎧";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AI2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🕹️";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AI3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "📱";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AI4"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "📷";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AI5"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🧸";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AI6"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🃏";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AI7"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🍺";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AI8"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🍷";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AI9"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "☕";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AJ1"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "🍿";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AJ2"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "⚡";
}

.visual-refresh ._48112cbe77dc5022-folderGroup:not(._48112cbe77dc5022-isExpanded) ._48112cbe77dc5022-folderHeader[data-dnd-name$="/AJ3"] ._48112cbe77dc5022-folderPreviewWrapper:before {
    font-family: "emoji";
    content: "😈";
}