/* Socials */
.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0050"] .folderPreviewWrapper__48112:before {
    content: "💬";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0051"] .folderPreviewWrapper__48112:before {
    content: "🚀";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0052"] .folderPreviewWrapper__48112:before {
    content: "🎮";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0053"] .folderPreviewWrapper__48112:before {
    content: "🛠️";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0054"] .folderPreviewWrapper__48112:before {
    content: "🎨";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0055"] .folderPreviewWrapper__48112:before {
    content: "🎼";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0056"] .folderPreviewWrapper__48112:before {
    content: "📹";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0057"] .folderPreviewWrapper__48112:before {
    content: "📚";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0058"] .folderPreviewWrapper__48112:before {
    content: "💻";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0059"] .folderPreviewWrapper__48112:before {
    content: "📺";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0060"] .folderPreviewWrapper__48112:before {
    content: "🎓";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0061"] .folderPreviewWrapper__48112:before {
    content: "🎙️";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0062"] .folderPreviewWrapper__48112:before {
    content: "🧰";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0063"] .folderPreviewWrapper__48112:before {
    content: "📈";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0064"] .folderPreviewWrapper__48112:before {
    content: "💪";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0065"] .folderPreviewWrapper__48112:before {
    content: "✈️";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0066"] .folderPreviewWrapper__48112:before {
    content: "❤️";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0067"] .folderPreviewWrapper__48112:before {
    content: "💰";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0068"] .folderPreviewWrapper__48112:before {
    content: "🍔";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0069"] .folderPreviewWrapper__48112:before {
    content: "⭐";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0070"] .folderPreviewWrapper__48112:before {
    content: "✅";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0071"] .folderPreviewWrapper__48112:before {
    content: "✨";
}