/* Socials */
.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0050"] .folderPreviewWrapper__48112:before {
    content: "💬";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0051"] .folderPreviewWrapper__48112:before {
    content: "🚀";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0052"] .folderPreviewWrapper__48112:before {
    content: "🎮";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0053"] .folderPreviewWrapper__48112:before {
    content: "🛠️";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0054"] .folderPreviewWrapper__48112:before {
    content: "🎨";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0055"] .folderPreviewWrapper__48112:before {
    content: "🎼";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0056"] .folderPreviewWrapper__48112:before {
    content: "📹";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0057"] .folderPreviewWrapper__48112:before {
    content: "📚";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0058"] .folderPreviewWrapper__48112:before {
    content: "💻";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0059"] .folderPreviewWrapper__48112:before {
    content: "📺";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0060"] .folderPreviewWrapper__48112:before {
    content: "🎓";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0061"] .folderPreviewWrapper__48112:before {
    content: "🎙️";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0062"] .folderPreviewWrapper__48112:before {
    content: "🧰";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0063"] .folderPreviewWrapper__48112:before {
    content: "📈";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0064"] .folderPreviewWrapper__48112:before {
    content: "💪";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0065"] .folderPreviewWrapper__48112:before {
    content: "✈️";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0066"] .folderPreviewWrapper__48112:before {
    content: "❤️";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0067"] .folderPreviewWrapper__48112:before {
    content: "💰";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0068"] .folderPreviewWrapper__48112:before {
    content: "🍔";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0069"] .folderPreviewWrapper__48112:before {
    content: "⭐";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0070"] .folderPreviewWrapper__48112:before {
    content: "✅";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0071"] .folderPreviewWrapper__48112:before {
    content: "✨";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0072"] .folderPreviewWrapper__48112:before {
    content: "🔮";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0073"] .folderPreviewWrapper__48112:before {
    content: "🎉";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0074"] .folderPreviewWrapper__48112:before {
    content: "🏆";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0075"] .folderPreviewWrapper__48112:before {
    content: "🎁";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0076"] .folderPreviewWrapper__48112:before {
    content: "💋";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0077"] .folderPreviewWrapper__48112:before {
    content: "🫦";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0078"] .folderPreviewWrapper__48112:before {
    content: "🛒";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0079"] .folderPreviewWrapper__48112:before {
    content: "🔥";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0080"] .folderPreviewWrapper__48112:before {
    content: "💣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0081"] .folderPreviewWrapper__48112:before {
    content: "🔞";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0082"] .folderPreviewWrapper__48112:before {
    content: "📢";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0083"] .folderPreviewWrapper__48112:before {
    content: "🎯";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0084"] .folderPreviewWrapper__48112:before {
    content: "💡";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0085"] .folderPreviewWrapper__48112:before {
    content: "📅";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0086"] .folderPreviewWrapper__48112:before {
    content: "💩";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0087"] .folderPreviewWrapper__48112:before {
    content: "🥵";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0088"] .folderPreviewWrapper__48112:before {
    content: "🥶";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0089"] .folderPreviewWrapper__48112:before {
    content: "🤖";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0090"] .folderPreviewWrapper__48112:before {
    content: "🫪";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0091"] .folderPreviewWrapper__48112:before {
    content: "🪎";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0092"] .folderPreviewWrapper__48112:before {
    content: "🪐";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0093"] .folderPreviewWrapper__48112:before {
    content: "🖥️";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/0094"] .folderPreviewWrapper__48112:before {
    content: "💯";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N0"] .folderPreviewWrapper__48112:before {
    content: "0️⃣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N1"] .folderPreviewWrapper__48112:before {
    content: "1️⃣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N2"] .folderPreviewWrapper__48112:before {
    content: "2️⃣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N3"] .folderPreviewWrapper__48112:before {
    content: "3️⃣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N4"] .folderPreviewWrapper__48112:before {
    content: "4️⃣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N5"] .folderPreviewWrapper__48112:before {
    content: "5️⃣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N6"] .folderPreviewWrapper__48112:before {
    content: "6️⃣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N7"] .folderPreviewWrapper__48112:before {
    content: "7️⃣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N8"] .folderPreviewWrapper__48112:before {
    content: "8️⃣";
}

.visual-refresh .folderGroup__48112:not(.isExpanded__48112) .folderHeader__48112[data-dnd-name$="/00N9"] .folderPreviewWrapper__48112:before {
    content: "9️⃣";
}

