.inner__74017 {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
}

.attachWrapper__0923f,
.buttons__74017,
.buttonContainer_e6e74f {
    height: calc(10px + 44px);
}

.attachWrapper__0923f>.attachButton__74017,
.buttonContainer__74017>.button__201d5,
.container_c0c49a>.button__201d5,
.buttonContainer_e6e74f>.button_e6e74f {
    width: calc(30px);
    height: calc(10px + 44px);
}