.b8880176888cc928-typing {
    position: unset !important;
    background: var(--bg-sendmessage);
}

[class*=channelTextAreaDisabled] {
    display: block;
}

.f75fb00fb7356cbe-chat[class*=channelTextAreaDisabled] ._740174f3d6a2c8fe-textArea>._1b31f471f0bb10ab-placeholder:after {
    content: "You do not have permission to send messages in this channel.";
}

._0f481cbbd7530492-jumpToPresentBar {
    bottom: 5px;
    left: 5px;
    right: 5px;
}