.typing__6fd1d {
    position: unset !important;
    background: var(--bg-sendmessage);
}

[class*=channelTextAreaDisabled] {
    display: block;
}

.chat__52833[class*=channelTextAreaDisabled] .textArea__74543>.placeholder__4bea5:after {
    content: "You do not have permission to send messages in this channel.";
}

.jumpToPresentBar__0ff7f {
    bottom: 5px;
    left: 5px;
    right: 5px;
}