.typing_b88801 {
    position: unset !important;
    background: var(--bg-sendmessage);
}

[class*=channelTextAreaDisabled] {
    display: block;
}

.chat_f75fb0[class*=channelTextAreaDisabled] .textArea_740174>.placeholder_1b31f4:after {
    content: "You do not have permission to send messages in this channel.";
}

.jumpToPresentBar__0f481c {
    bottom: 5px;
    left: 5px;
    right: 5px;
}