.typing-2J1mQU {
    padding: 0px 16px;
    top: unset;
    bottom: 50px;
    left: 0px;
    right: 0px;
    background: var(--bg-sendmessage);
}

[class*=channelTextAreaDisabled] {
    display: block;
}

.chat-2ZfjoI [class*=channelTextAreaDisabled] .textArea-2CLwUE>.placeholder-1_mJY1:after {
    content: "You do not have permission to send messages in this channel.";
}

.jumpToPresentBar-1cEnH0 {
    bottom: 25px;
    left: 5px;
    right: 5px;
}